Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/pulumi, cluster/kyak, cluster/sol

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/pulumi:
  - changed-files:
      - any-glob-to-any-file: pulumi/**/*
# Cluster
cluster/kyak:
  - changed-files:
      - any-glob-to-any-file: talos/kyak/**/*
      - any-glob-to-any-file: kubernetes/kyak/**/*
      - any-glob-to-any-file: pulimi/kyak/**/*
cluster/sol:
  - changed-files:
      - any-glob-to-any-file: ansible/sol/**/*
      - any-glob-to-any-file: kubernetes/sol/**/*
      - any-glob-to-any-file: pulumi/sol/**/*

fix(kyak): remove spelling error
  kubernetes/kyak/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change volsync path
  kubernetes/kyak/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/kyak/apps/storage/volsync/app/kustomization.yaml
  kubernetes/kyak/apps/storage/volsync/app/prometheusrule.yaml
  kubernetes/kyak/apps/storage/volsync/ks.yaml
  kubernetes/kyak/apps/storage/volsync/kustomization.yaml
  kubernetes/kyak/apps/storage/volsync/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add namespace
  kubernetes/kyak/apps/external-secrets-system/kustomization.yaml
  kubernetes/kyak/apps/external-secrets-system/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add resources block
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(ci): update workflows and renovate
  .github/renovate.json5
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-image-test.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-ks-sync.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/lychee.yaml
  .github/workflows/publish-schemas.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
  .gitignore
  aqua.yaml
Labels: area/github

fix(kyak): change path
  kubernetes/kyak/apps/tools/node-feature-discovery/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change secret ref
  kubernetes/kyak/apps/external-secrets-system/external-secrets/app/helmrelease.yaml
  kubernetes/kyak/apps/external-secrets-system/external-secrets/app/onepassword-connect.secret.sops.yaml
  kubernetes/kyak/apps/external-secrets-system/external-secrets/ks.yaml
  kubernetes/kyak/apps/external-secrets-system/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/kyak/apps/external-secrets-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove ns
  kubernetes/kyak/apps/flux-system/addons/app/monitoring/podmonitor.yaml
  kubernetes/kyak/apps/flux-system/addons/app/monitoring/prometheusrule.yaml
  kubernetes/kyak/apps/flux-system/addons/app/notifications/alert-manager/notification.yaml
  kubernetes/kyak/apps/flux-system/addons/app/notifications/github/externalsecret.yaml
  kubernetes/kyak/apps/flux-system/addons/app/notifications/github/notification.yaml
  kubernetes/kyak/apps/flux-system/addons/app/webhooks/github/externalsecret.yaml
  kubernetes/kyak/apps/flux-system/addons/app/webhooks/github/ingress.yaml
  kubernetes/kyak/apps/flux-system/addons/app/webhooks/github/receiver.yaml
  kubernetes/kyak/apps/flux-system/addons/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove tf ref
  kubernetes/kyak/apps/flux-system/addons/app/notifications/alert-manager/notification.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change ns ref
  kubernetes/kyak/apps/gpu-system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/kyak/apps/gpu-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/kyak/apps/gpu-system/intel-device-plugin/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change ns ref
  kubernetes/kyak/apps/media/autobrr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/autobrr/ks.yaml
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/kyak/apps/media/jellyfin/ks.yaml
  kubernetes/kyak/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/overseerr/ks.yaml
  kubernetes/kyak/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/prowlarr/ks.yaml
  kubernetes/kyak/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/kyak/apps/media/qbittorrent/ks.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/kyak/apps/media/radarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/radarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/radarr/ks.yaml
  kubernetes/kyak/apps/media/recyclarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/recyclarr/ks.yaml
  kubernetes/kyak/apps/media/sabnzbd/app/externalsecret.yaml
  kubernetes/kyak/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/kyak/apps/media/sabnzbd/ks.yaml
  kubernetes/kyak/apps/media/sonarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/sonarr/ks.yaml
  kubernetes/kyak/apps/media/unpackerr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/unpackerr/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove ks schemas
  kubernetes/kyak/apps/tools/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/kyak/apps/tools/kubernetes-schemas/app/kustomization.yaml
  kubernetes/kyak/apps/tools/kubernetes-schemas/ks.yaml
  kubernetes/kyak/apps/tools/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(ci): change flux-local tag
  .github/workflows/flux-diff.yaml
  .github/workflows/resources/nix/flake.nix
Labels: area/github

fix(ci): add extract images script
  .github/scripts/extract-images.mjs
Labels: area/github

fix(kyak): change nfs mounts
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/kyak/apps/media/kustomization.yaml
  kubernetes/kyak/apps/media/media-pvc.yaml
  kubernetes/kyak/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/kyak/apps/media/radarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/kyak/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(ci): update workflows
  .github/renovate/groups.json5
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/flux-ks-sync.yaml
  .github/workflows/git-guardian.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/lychee.yaml
  .github/workflows/publish-schemas.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(kyak): switch to devin's runner
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update grafana dashboards
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix: update schema version
  kubernetes/cobra/apps/istio-system/base/app/helmrelease.yaml
  kubernetes/cobra/apps/istio-system/istio-ingress/app/helmrelease.yaml
  kubernetes/cobra/apps/istio-system/istiod/app/helmrelease.yaml
  kubernetes/cobra/apps/kube-guardian/kube-guardian/app/helmrelease.yaml
  kubernetes/cobra/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/cobra/apps/kube-system/external-secrets/app/helmrelease.yaml
  kubernetes/cobra/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/cobra/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
  kubernetes/cobra/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/cobra/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/cobra/apps/networking/external-dns/app/bind/helmrelease.yaml
  kubernetes/cobra/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/cobra/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/cobra/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/cobra/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/cobra/apps/vault-system/vault/app/helmrelease.yaml
  kubernetes/sol/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/sol/apps/default/kopia/app/helmrelease.yaml
  kubernetes/sol/apps/default/minio/app/helmrelease.yaml
  kubernetes/sol/apps/default/zot/app/helmrelease.yaml
  kubernetes/sol/apps/istio-system/base/app/helmrelease.yaml
  kubernetes/sol/apps/istio-system/gateway/app/helmrelease.yaml
  kubernetes/sol/apps/istio-system/istiod/app/helmrelease.yaml
  kubernetes/sol/apps/kepler-system/kepler/app/helmrelease.yaml
  kubernetes/sol/apps/kube-system/external-secrets/app/helmrelease.yaml
  kubernetes/sol/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/sol/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/sol/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/sol/apps/monitoring/smartctl-exporter/app/helmrelease.yaml
  kubernetes/sol/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/sol/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/sol/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): update kp stack stuff
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/gatus.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/resources/kube-state-metrics.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): setup external RGW
  kubernetes/kyak/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/app/rook-ceph-dashboard-password.secret.sops.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/rgw-external.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): maybe working loki
  kubernetes/kyak/apps/monitoring/loki/app/gatus.yaml
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/loki/app/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): more loki fixes
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): add kromgo
  kubernetes/kyak/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/kromgo/app/kustomization.yaml
  kubernetes/kyak/apps/monitoring/kromgo/app/resources/config.yaml
  kubernetes/kyak/apps/monitoring/kromgo/ks.yaml
  kubernetes/kyak/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(sol): add missing kustomization
  kubernetes/sol/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/sol/apps/default/kopia/app/externalsecret.yaml
  kubernetes/sol/apps/default/kopia/app/resources/repository.config
  kubernetes/sol/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/sol/apps/storage/local-path-provisioner/app/helmrelease.yaml
  kubernetes/sol/apps/tools/kustomization.yaml
  kubernetes/sol/apps/tools/namespace.yaml
  kubernetes/sol/apps/tools/reloader/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/sol/apps/tools/reloader/system-upgrade-controller/app/kustomization.yaml
  kubernetes/sol/apps/tools/reloader/system-upgrade-controller/app/rbac.yaml
  kubernetes/sol/apps/tools/reloader/system-upgrade-controller/ks.yaml
  kubernetes/sol/apps/tools/reloader/system-upgrade-controller/plans/agent.yaml
  kubernetes/sol/apps/tools/reloader/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/sol/apps/tools/reloader/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): move folder
  kubernetes/sol/apps/tools/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/sol/apps/tools/system-upgrade-controller/app/kustomization.yaml
  kubernetes/sol/apps/tools/system-upgrade-controller/app/rbac.yaml
  kubernetes/sol/apps/tools/system-upgrade-controller/ks.yaml
  kubernetes/sol/apps/tools/system-upgrade-controller/plans/agent.yaml
  kubernetes/sol/apps/tools/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/sol/apps/tools/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): change osd failure domain
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change ceph cluster replication size
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): downgrade ceph
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): upgrade ceph
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable kube-guardian for now
  kubernetes/kyak/apps/kube-guardian/kube-guardian/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-guardian/kube-guardian/app/kustomization.yaml
  kubernetes/kyak/apps/kube-guardian/kube-guardian/app/pvc.yaml
  kubernetes/kyak/apps/kube-guardian/kube-guardian/ks.yaml
  kubernetes/kyak/apps/kube-guardian/kustomization.yaml
  kubernetes/kyak/apps/kube-guardian/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(sol): add democratic csi repo
  kubernetes/sol/flux/repositories/helm/democratic-csi.yaml
  kubernetes/sol/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): change path
  kubernetes/sol/apps/default/kopia/app/kustomization.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): change app ns
  kubernetes/sol/apps/tools/reloader/ks.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): bump memory limits
  kubernetes/kyak/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/kyak/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): switch to regular autobrr
  kubernetes/kyak/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(sol): add cilium
  kubernetes/sol/apps/kube-system/cilium/app/bgp.yaml
  kubernetes/sol/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/sol/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/sol/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): wait for bgp to roll out
  kubernetes/sol/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): enable bgp
  kubernetes/kyak/flux/repositories/oci/kustomization.yaml
  kubernetes/sol/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes, cluster/kyak, cluster/sol

fix(sol): change suc namespace
  kubernetes/sol/apps/tools/system-upgrade-controller/ks.yaml
  kubernetes/sol/apps/tools/system-upgrade-controller/plans/agent.yaml
  kubernetes/sol/apps/tools/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes, cluster/sol
