Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/pulumi, cluster/kyak, cluster/sol

fix(kyak): set seccomp profile
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove custom http errors
  kubernetes/kyak/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): more sockets
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): nope
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): increase memory limit
  kubernetes/kyak/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add bgp v2
  .archive/cobra/flux/repositories/helm/actions-runner-controller.yaml
  .archive/cobra/flux/repositories/helm/aqua.yaml
  .archive/cobra/flux/repositories/helm/backube.yaml
  .archive/cobra/flux/repositories/helm/bitnami.yaml
  .archive/cobra/flux/repositories/helm/bjw-s.yaml
  .archive/cobra/flux/repositories/helm/cilium.yaml
  .archive/cobra/flux/repositories/helm/cloudnative-pg.yaml
  .archive/cobra/flux/repositories/helm/coredns.yaml
  .archive/cobra/flux/repositories/helm/csi-driver-nfs.yaml
  .archive/cobra/flux/repositories/helm/descheduler.yaml
  .archive/cobra/flux/repositories/helm/dysnix.yaml
  .archive/cobra/flux/repositories/helm/external-dns.yaml
  .archive/cobra/flux/repositories/helm/external-secrets.yaml
  .archive/cobra/flux/repositories/helm/falco-security.yaml
  .archive/cobra/flux/repositories/helm/grafana.yaml
  .archive/cobra/flux/repositories/helm/hashicorp.yaml
  .archive/cobra/flux/repositories/helm/ingress-nginx.yaml
  .archive/cobra/flux/repositories/helm/intel.yaml
  .archive/cobra/flux/repositories/helm/istio.yaml
  .archive/cobra/flux/repositories/helm/jetstack.yaml
  .archive/cobra/flux/repositories/helm/kepler.yaml
  .archive/cobra/flux/repositories/helm/kyverno.yaml
  .archive/cobra/flux/repositories/helm/metrics-server.yaml
  .archive/cobra/flux/repositories/helm/node-feature-discovery.yaml
  .archive/cobra/flux/repositories/helm/nvidia.yaml
  .archive/cobra/flux/repositories/helm/piraeus.yaml
  .archive/cobra/flux/repositories/helm/postfinance.yaml
  .archive/cobra/flux/repositories/helm/prometheus-community.yaml
  .archive/cobra/flux/repositories/helm/rook-ceph.yaml
  .archive/cobra/flux/repositories/helm/stakater.yaml
  .archive/cobra/flux/repositories/helm/stevehipwell.yaml
  .archive/cobra/flux/repositories/helm/weaveworks.yaml
  .archive/cobra/flux/repositories/helm/xentra.yaml
  .vscode/settings.json
  ansible/sol/inventory/group_vars/controllers/main.yaml
  docs/nas.md
  kubernetes/kyak/apps/kube-system/cilium/app/bgp.yaml
  pulumi/icb/env/values.ts
  talos/clusterconfig/.gitignore
  talos/talconfig.yaml
Labels: area/ansible, area/docs, area/kubernetes, area/pulumi, cluster/kyak, cluster/sol

fix(kyak): fix specs
  kubernetes/kyak/apps/kube-system/cilium/app/bgp.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): long live the websockets
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove duplicate key
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add ts routers
  kubernetes/kyak/apps/tailscale/tailscale/app/connector.yaml
  kubernetes/kyak/apps/tailscale/tailscale/app/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): spelling is hard
  kubernetes/kyak/apps/tailscale/tailscale/app/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): deploy neuvector
  kubernetes/kyak/apps/neuvector-system/core/app/helmrelease.yaml
  kubernetes/kyak/apps/neuvector-system/core/app/kustomization.yaml
  kubernetes/kyak/apps/neuvector-system/core/ks.yaml
  kubernetes/kyak/apps/neuvector-system/crd/app/helmrelease.yaml
  kubernetes/kyak/apps/neuvector-system/crd/app/kustomization.yaml
  kubernetes/kyak/apps/neuvector-system/crd/ks.yaml
  kubernetes/kyak/apps/neuvector-system/kustomization.yaml
  kubernetes/kyak/apps/neuvector-system/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): make neuvector run
  kubernetes/kyak/apps/neuvector-system/core/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change route adverts
  kubernetes/kyak/apps/tailscale/tailscale/app/connector.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): neuvector takes too much memory
  .archive/neuvector-system/core/app/helmrelease.yaml
  .archive/neuvector-system/core/app/kustomization.yaml
  .archive/neuvector-system/core/ks.yaml
  .archive/neuvector-system/crd/app/helmrelease.yaml
  .archive/neuvector-system/crd/app/kustomization.yaml
  .archive/neuvector-system/crd/ks.yaml
  .archive/neuvector-system/kustomization.yaml
  .archive/neuvector-system/namespace.yaml
Labels: none

fix(kyak): disable lldap sm
  kubernetes/kyak/apps/auth/lldap/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): remove tetragon
  .archive/tetragon-system/kustomization.yaml
  .archive/tetragon-system/namespace.yaml
  .archive/tetragon-system/tetragon/app/helmrelease.yaml
  .archive/tetragon-system/tetragon/app/kustomization.yaml
  .archive/tetragon-system/tetragon/ks.yaml
Labels: none

fix(kyak): allow for istio cni
  .github/renovate/groups.json5
  kubernetes/kyak/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-isitio.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/kustomization.yaml
Labels: area/github, area/kubernetes, cluster/kyak

fix(kyak): run as non root and update health checks
  kubernetes/kyak/apps/monitoring/kromgo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update kromgo config
  kubernetes/kyak/apps/monitoring/kromgo/app/resources/config.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): istiod ambient
  kubernetes/kyak/apps/istio-system/istiod/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add mgmt net
  kubernetes/kyak/apps/tailscale/tailscale/app/connector.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): deploy isitio cni and ztunnel
  kubernetes/kyak/apps/istio-system/cni/app/helmrelease.yaml
  kubernetes/kyak/apps/istio-system/cni/app/kustomization.yaml
  kubernetes/kyak/apps/istio-system/cni/ks.yaml
  kubernetes/kyak/apps/istio-system/ztunnel/app/helmrelease.yaml
  kubernetes/kyak/apps/istio-system/ztunnel/app/kustomization.yaml
  kubernetes/kyak/apps/istio-system/ztunnel/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): ztunnel set for ambient
  kubernetes/kyak/apps/istio-system/ztunnel/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): spelling is hard
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-istio.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): switch chart name
  kubernetes/kyak/apps/istio-system/ztunnel/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change hr name
  kubernetes/kyak/apps/istio-system/ztunnel/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): deploy kiali
  kubernetes/kyak/apps/istio-system/kiali/app/helmrelease.yaml
  kubernetes/kyak/apps/istio-system/kiali/app/kustomization.yaml
  kubernetes/kyak/apps/istio-system/kiali/ks.yaml
  kubernetes/kyak/apps/istio-system/kustomization.yaml
  kubernetes/kyak/flux/repositories/helm/kiali.yaml
  kubernetes/kyak/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): spelling is hard
  kubernetes/kyak/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): scale dragonfly
  kubernetes/kyak/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/kyak/apps/database/redis/app/helmrelease.yaml
  kubernetes/kyak/apps/database/redis/app/kustomization.yaml
  kubernetes/kyak/apps/database/redis/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable isito netpol
  kubernetes/kyak/apps/kube-system/cilium/netpols/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add more kiali vars
  kubernetes/kyak/apps/istio-system/kiali/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add istio label
  kubernetes/kyak/apps/actions-runner-system/namespace.yaml
  kubernetes/kyak/apps/auth/namespace.yaml
  kubernetes/kyak/apps/cert-manager/namespace.yaml
  kubernetes/kyak/apps/database/namespace.yaml
  kubernetes/kyak/apps/external-secrets-system/namespace.yaml
  kubernetes/kyak/apps/flux-system/namespace.yaml
  kubernetes/kyak/apps/foundry-system/namespace.yaml
  kubernetes/kyak/apps/gpu-system/namespace.yaml
  kubernetes/kyak/apps/istio-system/gateway/app/helmrelease.yaml
  kubernetes/kyak/apps/istio-system/kiali/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/namespace.yaml
  kubernetes/kyak/apps/media/namespace.yaml
  kubernetes/kyak/apps/networking/namespace.yaml
  kubernetes/kyak/apps/openebs-system/namespace.yaml
  kubernetes/kyak/apps/openebs-system/notifications.yaml
  kubernetes/kyak/apps/rook-ceph/namespace.yaml
  kubernetes/kyak/apps/system-upgrade/namespace.yaml
  kubernetes/kyak/apps/tailscale/namespace.yaml
  kubernetes/kyak/apps/tools/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add grafana endpoint
  kubernetes/kyak/apps/istio-system/kiali/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): setup ingress
  kubernetes/kyak/apps/auth/authelia/app/externalsecret.yaml
  kubernetes/kyak/apps/istio-system/kiali/app/externalsecret.yaml
  kubernetes/kyak/apps/istio-system/kiali/app/helmrelease.yaml
  kubernetes/kyak/apps/istio-system/kiali/app/kustomization.yaml
  kubernetes/kyak/apps/volsync-system/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): make valid yaml
  kubernetes/kyak/apps/istio-system/kiali/app/externalsecret.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change selector label
  kubernetes/kyak/apps/istio-system/gateway/app/gateway.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update the ingress
  kubernetes/kyak/apps/istio-system/kiali/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(sol): switch to r2
  kubernetes/sol/apps/default/kopia/app/externalsecret.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): copy config
  kubernetes/sol/flux/config/flux.yaml
Labels: area/kubernetes, cluster/sol

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/pulumi:
  - changed-files:
      - any-glob-to-any-file: pulumi/**/*
# Cluster
cluster/kyak:
  - changed-files:
      - any-glob-to-any-file: talos/kyak/**/*
      - any-glob-to-any-file: kubernetes/kyak/**/*
      - any-glob-to-any-file: pulimi/kyak/**/*
cluster/sol:
  - changed-files:
      - any-glob-to-any-file: ansible/sol/**/*
      - any-glob-to-any-file: kubernetes/sol/**/*
      - any-glob-to-any-file: pulumi/sol/**/*
