Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform, area/talos, area/pulumi, area/docs, cluster/kyak, cluster/sol, cluster/cobra

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
area/pulumi:
  - "pulumi/**/*"
area/docs:
  - "docs/**/*"
cluster/kyak:
  - "kubernetes/kyak/**/*"
cluster/sol:
  - "kubernetes/sol/**/*"
cluster/cobra:
  - "kubernetes/cobra/**/*"

feat: add pulumi action
  .github/workflows/pulumi.yaml
  pulumi/sol/.gitignore
  pulumi/sol/Pulumi.k8s.yaml
  pulumi/sol/Pulumi.yaml
  pulumi/sol/config/minio.ts
  pulumi/sol/env/minio.ts
  pulumi/sol/index.ts
  pulumi/sol/package-lock.json
  pulumi/sol/package.json
  pulumi/sol/tsconfig.json
Labels: area/github, area/pulumi

fix(pulumi): Remove empty line in minio.ts
  pulumi/sol/env/minio.ts
Labels: area/pulumi

fix: Update branch name from master to main
  .github/workflows/pulumi.yaml
Labels: area/github

fix: extract stack
  .github/workflows/pulumi.yaml
Labels: area/github

fix: Update stack name in Pulumi workflow
  .github/workflows/pulumi.yaml
Labels: area/github

fix(pulumi): do not force destory
  pulumi/sol/config/minio.ts
Labels: area/pulumi

fix(kyak): try to fix loki
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): try to fix loki even more
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): oops, wrong key
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): more keys?
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): they have to match
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): maybe
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): even more maybe
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/loki/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): go back to the old way
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/loki/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix: rollback change
  kubernetes/cobra/flux/repositories/git/local-path-provisioner.yaml
  kubernetes/kyak/flux/repositories/git/local-path-provisioner.yaml
  kubernetes/sol/flux/repositories/git/local-path-provisioner.yaml
Labels: area/kubernetes, cluster/kyak, cluster/sol, cluster/cobra
