Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/pulumi, cluster/kyak, cluster/sol

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/pulumi:
  - changed-files:
      - any-glob-to-any-file: pulumi/**/*
# Cluster
cluster/kyak:
  - changed-files:
      - any-glob-to-any-file: talos/kyak/**/*
      - any-glob-to-any-file: kubernetes/kyak/**/*
      - any-glob-to-any-file: pulimi/kyak/**/*
cluster/sol:
  - changed-files:
      - any-glob-to-any-file: ansible/sol/**/*
      - any-glob-to-any-file: kubernetes/sol/**/*
      - any-glob-to-any-file: pulumi/sol/**/*

fix(icb): push more config
  pulumi/icb/.gitignore
  pulumi/icb/Pulumi.aws.yaml
  pulumi/icb/Pulumi.yaml
  pulumi/icb/modules/dns.ts
  pulumi/icb/package-lock.json
  pulumi/icb/package.json
  pulumi/icb/tsconfig.json
  pulumi/icb/types/types.ts
Labels: area/pulumi

fix(sol): update some apps
  kubernetes/sol/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/sol/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/sol/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/sol/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/sol/apps/monitoring/vector/app/agent/kustomization.yaml
  kubernetes/sol/apps/monitoring/vector/app/agent/rbac.yaml
  kubernetes/sol/apps/monitoring/vector/app/agent/resources/vector.yaml
  kubernetes/sol/apps/monitoring/vector/app/kustomization.yaml
  kubernetes/sol/apps/tools/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/sol

feat(sol): add openebs
  kubernetes/sol/apps/openebs-system/kustomization.yaml
  kubernetes/sol/apps/openebs-system/namespace.yaml
  kubernetes/sol/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/sol/apps/openebs-system/openebs/app/kustomization.yaml
  kubernetes/sol/apps/openebs-system/openebs/ks.yaml
  kubernetes/sol/flux/repositories/helm/kustomization.yaml
  kubernetes/sol/flux/repositories/helm/openebs.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): update suc
  ansible/sol/inventory/group_vars/controllers/main.yaml
  ansible/sol/inventory/hosts.yaml
  aqua.yaml
  kubernetes/sol/apps/tools/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/sol/apps/tools/system-upgrade-controller/app/rbac.yaml
  kubernetes/sol/apps/tools/system-upgrade-controller/plans/server.yaml
Labels: area/ansible, area/kubernetes, cluster/sol

fix(sol): change rbac ns
  kubernetes/sol/apps/tools/system-upgrade-controller/app/rbac.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): change loki to openebs
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update thanos config
  kubernetes/kyak/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/kyak/apps/monitoring/thanos/app/pushsecret.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update ceph config
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/cephobjectstoreuser.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/rgw-external.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): revert cm changes
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change secret ref
  kubernetes/kyak/apps/networking/nginx/external/externalsecret.yaml
  kubernetes/kyak/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update arc
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/kyak/apps/actions-runner-system/kustomization.yaml
  kubernetes/kyak/apps/actions-runner-system/namespace.yaml
  kubernetes/kyak/apps/actions-runner-system/notifications.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): re install cluster
  kubernetes/kyak/bootstrap/README.md
  kubernetes/kyak/flux/vars/cluster-secrets.secret.sops.yaml
  kubernetes/kyak/flux/vars/cluster-secrets.sops.env
  kubernetes/kyak/flux/vars/cluster-settings.env
  kubernetes/kyak/flux/vars/cluster-settings.yaml
  kubernetes/kyak/flux/vars/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): uprev database
  kubernetes/kyak/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): switch to new ceph spec
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): revert ceph sc change
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): revert ceph sc change again?
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): maybe i have to remove the comment
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): try upgrading
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): add tailscale
  kubernetes/kyak/apps/tailscale/kustomization.yaml
  kubernetes/kyak/apps/tailscale/namespace.yaml
  kubernetes/kyak/apps/tailscale/tailscale/app/externalsecret.yaml
  kubernetes/kyak/apps/tailscale/tailscale/app/helmrelease.yaml
  kubernetes/kyak/apps/tailscale/tailscale/app/kustomization.yaml
  kubernetes/kyak/apps/tailscale/tailscale/ks.yaml
  kubernetes/kyak/flux/repositories/helm/kustomization.yaml
  kubernetes/kyak/flux/repositories/helm/tailscale.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): fix spelling error
  kubernetes/kyak/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change repo name
  kubernetes/kyak/flux/repositories/helm/tailscale.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update openebs
  kubernetes/kyak/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add tailscale ks
  kubernetes/kyak/apps/openebs-system/kustomization.yaml
  kubernetes/kyak/apps/openebs-system/namespace.yaml
  kubernetes/kyak/apps/tailscale/tailscale/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add right chart version
  kubernetes/kyak/apps/tailscale/tailscale/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): try out tailscale ingress
  kubernetes/kyak/apps/media/radarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): only use default types
  kubernetes/kyak/apps/networking/external-dns/app/bind/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add jellyfin pvc
  kubernetes/kyak/apps/flux-system/namespace.yaml
  kubernetes/kyak/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/kyak/apps/media/jellyfin/app/pvc.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update nfd
  kubernetes/kyak/apps/actions-runner-system/kustomization.yaml
  kubernetes/kyak/apps/actions-runner-system/namespace.yaml
  kubernetes/kyak/apps/actions-runner-system/notifications.yaml
  kubernetes/kyak/apps/cert-manager/namespace.yaml
  kubernetes/kyak/apps/gpu-system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/kyak/apps/gpu-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/kustomization.yaml
  kubernetes/kyak/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/kyak/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/kyak/apps/kube-system/node-feature-discovery/rules/google-coral-device.yaml
  kubernetes/kyak/apps/kube-system/node-feature-discovery/rules/intel-dp-devices.yaml
  kubernetes/kyak/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/kyak/apps/tools/node-feature-discovery/rules/intel-dp-devices.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove nfd from kustomization
  kubernetes/kyak/apps/tools/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change target ns
  kubernetes/kyak/apps/kube-system/node-feature-discovery/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): maybe more gpu?
  kubernetes/kyak/apps/gpu-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): more nfd config
  kubernetes/kyak/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): more nfd updates
  kubernetes/kyak/apps/gpu-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): make gpu work
  kubernetes/kyak/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): have volsync make the pvc
  kubernetes/kyak/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/kyak/apps/media/jellyfin/app/pvc.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update to gha scale sets
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set-controller/app/externalsecret.yaml
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set-controller/app/helmrelease.yaml
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set-controller/app/kustomization.yaml
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set-controller/ks.yaml
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set/app/helmrelease.yaml
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set/app/kustomization.yaml
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change kustomization
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/kyak/apps/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): add dragonfly
  kubernetes/kyak/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/kyak/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/kyak/apps/database/dragonfly/app/rbac.yaml
  kubernetes/kyak/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/kyak/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/kyak/apps/database/dragonfly/cluster/podmonitor.yaml
  kubernetes/kyak/apps/database/dragonfly/ks.yaml
  kubernetes/kyak/apps/database/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): swap authelia to dragonfly
  kubernetes/kyak/apps/auth/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update authelia helm release
  kubernetes/kyak/apps/auth/authelia/app/helmrelease.yaml
  kubernetes/kyak/apps/auth/authelia/ks.yaml
Labels: area/kubernetes, cluster/kyak
