Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos, area/taskfile, cluster/kyak, cluster/sol

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
cluster/kyak:
  - changed-files:
      - any-glob-to-any-file: talos/kyak/**/*
      - any-glob-to-any-file: kubernetes/kyak/**/*
      - any-glob-to-any-file: pulimi/kyak/**/*
cluster/sol:
  - changed-files:
      - any-glob-to-any-file: ansible/sol/**/*
      - any-glob-to-any-file: kubernetes/sol/**/*
      - any-glob-to-any-file: pulumi/sol/**/*

move renovate folder
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/semanticCommits.json5
Labels: area/renovate

fix the install schema problem
  kubernetes/kyak/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/kyak/apps/networking/external-dns/cloudflare/kustomization.yaml
  kubernetes/kyak/apps/networking/external-dns/cloudflare/prometheusrule.yaml
  kubernetes/kyak/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update external dns for unifi
  .envrc
  .taskfiles/bootstrap/taskfile.yaml
  .vscode/extensions.json
  .vscode/settings.json
  ansible/requirements.yaml
  ansible/storage/servers/playbooks/templates/msmtprc.j2
  kubernetes/kyak/apps/auth/authelia/app/config/configuration.yaml
  kubernetes/kyak/apps/monitoring/unpoller/app/helmrelease.yaml
  kubernetes/kyak/apps/networking/external-dns/unifi/externalsecret.yaml
  kubernetes/kyak/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/kyak/flux/config/flux.yaml
  kubernetes/sol/apps/istio-system/namespace.yaml
  kubernetes/sol/apps/kepler-system/kustomization.yaml
  kubernetes/sol/apps/kepler-system/namespace.yaml
  kubernetes/sol/apps/kube-system/namespace.yaml
  kubernetes/sol/apps/monitoring/namespace.yaml
  kubernetes/sol/apps/networking/namespace.yaml
  pulumi/aws/icb/index.ts
  talos/bootstrap/cni/values.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos, area/taskfile, cluster/kyak, cluster/sol

feat(kyak): update networking stuffs
  .renovate/autoMerge.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/semanticCommits.json5
  kubernetes/kyak/apps/networking/cloudflare-dns/app/externalsecret.yaml
  kubernetes/kyak/apps/networking/cloudflare-dns/app/helmrelease.yaml
  kubernetes/kyak/apps/networking/cloudflare-dns/app/kustomization.yaml
  kubernetes/kyak/apps/networking/cloudflare-dns/app/prometheusrule.yaml
  kubernetes/kyak/apps/networking/cloudflare-dns/ks.yaml
  kubernetes/kyak/apps/networking/external-dns/cloudflare/externalsecret.yaml
  kubernetes/kyak/apps/networking/external-dns/cloudflare/prometheusrule.yaml
  kubernetes/kyak/apps/networking/external-dns/ks.yaml
  kubernetes/kyak/apps/networking/kustomization.yaml
  kubernetes/kyak/apps/networking/unifi-dns/app/externalsecret.yaml
  kubernetes/kyak/apps/networking/unifi-dns/app/helmrelease.yaml
  kubernetes/kyak/apps/networking/unifi-dns/app/kustomization.yaml
  kubernetes/kyak/apps/networking/unifi-dns/ks.yaml
Labels: area/kubernetes, area/renovate, cluster/kyak

feat(kyak): move some apps
  kubernetes/kyak/apps/kube-system/kustomization.yaml
  kubernetes/kyak/apps/kube-system/namespace.yaml
  kubernetes/kyak/apps/kube-system/notifications.yaml
  kubernetes/kyak/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/kyak/apps/kube-system/snapshot-controller/ks.yaml
  kubernetes/kyak/apps/kube-system/spegel/app/helm/kustomizeconfig.yaml
  kubernetes/kyak/apps/kube-system/spegel/app/helm/values.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak)!: change namespace name
  kubernetes/kyak/apps/external-secrets-system/external-secrets/stores/kustomization.yaml
  kubernetes/kyak/apps/external-secrets-system/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/kyak/apps/external-secrets-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/kyak/apps/external-secrets-system/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/kyak/apps/external-secrets-system/namespace.yaml
  kubernetes/kyak/apps/external-secrets/external-secrets/app/clustersecretstore.yaml
  kubernetes/kyak/apps/external-secrets/external-secrets/app/helm/kustomizeconfig.yaml
  kubernetes/kyak/apps/external-secrets/external-secrets/app/helm/values.yaml
  kubernetes/kyak/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/kyak/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/kyak/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/kyak/apps/external-secrets/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak)!: change how cert-manager works
  kubernetes/kyak/apps/cert-manager/cert-manager/app/clusterissuer.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/app/externalsecret.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/app/helm/kustomizeconfig.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/app/helm/values.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/app/networkpolicy.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/kyak/apps/cert-manager/kustomization.yaml
  kubernetes/kyak/apps/cert-manager/namespace.yaml
  kubernetes/kyak/apps/flux-system/flux-instance/app/helm/values.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove source ignore
  .sourceignore
Labels: none

fix(kyak): remove old external dns
  kubernetes/kyak/apps/networking/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update rook-ceph
  kubernetes/kyak/apps/rook-ceph/kustomization.yaml
  kubernetes/kyak/apps/rook-ceph/namespace.yaml
  kubernetes/kyak/apps/rook-ceph/notifications.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/app/externalsecret.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): change arc
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/runners/home-ops/externalsecret.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/runners/home-ops/kustomization.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/runners/home-ops/rbac.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set-controller/app/externalsecret.yaml
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set-controller/app/helmrelease.yaml
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set-controller/ks.yaml
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set/app/helmrelease.yaml
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set/ks.yaml
  kubernetes/kyak/apps/actions-runner-system/namespace.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): change mroe repo names
  kubernetes/kyak/apps/monitoring/kromgo/ks.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/kyak/apps/monitoring/loki/ks.yaml
  kubernetes/kyak/apps/monitoring/mimir/ks.yaml
  kubernetes/kyak/apps/monitoring/nut-exporter/ks.yaml
  kubernetes/kyak/apps/monitoring/smartctl-exporter/ks.yaml
  kubernetes/kyak/apps/monitoring/snmp-exporter/ks.yaml
  kubernetes/kyak/apps/monitoring/tempo/ks.yaml
  kubernetes/kyak/apps/monitoring/thanos/ks.yaml
  kubernetes/kyak/apps/monitoring/unpoller/ks.yaml
  kubernetes/kyak/apps/monitoring/vector/ks.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): switch to new cloudflared
  kubernetes/kyak/apps/networking/cloudflare-tunnel/app/dnsendpoint.yaml
  kubernetes/kyak/apps/networking/cloudflare-tunnel/app/externalsecret.yaml
  kubernetes/kyak/apps/networking/cloudflare-tunnel/app/helmrelease.yaml
  kubernetes/kyak/apps/networking/cloudflare-tunnel/app/kustomization.yaml
  kubernetes/kyak/apps/networking/cloudflare-tunnel/app/resources/config.yaml
  kubernetes/kyak/apps/networking/cloudflare-tunnel/ks.yaml
  kubernetes/kyak/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/kyak/apps/networking/cloudflared/app/networkpolicy.yaml
  kubernetes/kyak/apps/networking/cloudflared/app/resources/config.yaml
  kubernetes/kyak/apps/networking/cloudflared/ks.yaml
  kubernetes/kyak/apps/networking/kustomization.yaml
  kubernetes/kyak/apps/networking/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update cloudflared config
  kubernetes/kyak/apps/networking/cloudflare-tunnel/app/resources/config.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update some media apps
  kubernetes/kyak/apps/database/cloudnative-pg/app/externalsecret.yaml
  kubernetes/kyak/apps/media/autobrr/app/config/config.toml
  kubernetes/kyak/apps/media/autobrr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/autobrr/app/kustomization.yaml
  kubernetes/kyak/apps/media/autobrr/app/resources/lokirule.yaml
  kubernetes/kyak/apps/media/autobrr/ks.yaml
  kubernetes/kyak/apps/media/bazarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/bazarr/app/kustomization.yaml
  kubernetes/kyak/apps/media/bazarr/app/resources/subcleaner.sh
  kubernetes/kyak/apps/media/bazarr/ks.yaml
  kubernetes/kyak/apps/media/jellyseerr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/jellyseerr/app/kustomization.yaml
  kubernetes/kyak/apps/media/jellyseerr/ks.yaml
  kubernetes/kyak/apps/media/kustomization.yaml
  kubernetes/kyak/apps/media/namespace.yaml
  kubernetes/kyak/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/kyak/apps/media/prowlarr/app/lokirule.yaml
  kubernetes/kyak/apps/media/prowlarr/ks.yaml
  kubernetes/kyak/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/kyak/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/kyak/apps/media/qbittorrent/app/resources/completed.sh
  kubernetes/kyak/apps/media/qbittorrent/app/resources/lokirule.yaml
  kubernetes/kyak/apps/media/qbittorrent/ks.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/helmrelease.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/kustomization.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/qbtools.secret.sops.yaml
  kubernetes/kyak/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/recyclarr/app/kustomization.yaml
  kubernetes/kyak/apps/media/recyclarr/app/resources/recyclarr.yml
  kubernetes/kyak/apps/media/recyclarr/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove external secrets depends on
  kubernetes/kyak/apps/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): upgrade externalsecret version
  kubernetes/components/volsync/local/externalsecret.yaml
  kubernetes/components/volsync/remote/externalsecret.yaml
  kubernetes/kyak/apps/auth/authelia/app/externalsecret.yaml
  kubernetes/kyak/apps/auth/keycloak/app/externalsecret.yaml
  kubernetes/kyak/apps/auth/lldap/app/externalsecret.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/externalsecret.yaml
  kubernetes/kyak/apps/backup-system/kopia/app/externalsecret.yaml
  kubernetes/kyak/apps/database/cloudnative-pg/app/externalsecret.yaml
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/externalsecret.yaml
  kubernetes/kyak/apps/istio-system/kiali/app/externalsecret.yaml
  kubernetes/kyak/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/radarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/sabnzbd/app/externalsecret.yaml
  kubernetes/kyak/apps/media/sonarr/app/externalsecret.yaml
  kubernetes/kyak/apps/minio-system/minio/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/gatus/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/grafana-k8s-monitoring/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/ipmi-exporter/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/mimir/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/nut-exporter/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/unpoller/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/externalsecret.yaml
  kubernetes/kyak/apps/networking/nginx/external/externalsecret.yaml
  kubernetes/kyak/apps/tailscale/tailscale/app/externalsecret.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): add cnpg oci repo
  kubernetes/kyak/apps/database/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): use oci repo properly
  kubernetes/kyak/apps/database/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): try again
  kubernetes/kyak/apps/database/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update some more stuff
  kubernetes/kyak/apps/media/jellyfin/ks.yaml
  kubernetes/kyak/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/jellyseerr/app/pvc.yaml
  kubernetes/kyak/apps/media/radarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/sabnzbd/app/externalsecret.yaml
  kubernetes/kyak/apps/media/sonarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): reduce mem requests
  kubernetes/kyak/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): more updates
  kubernetes/kyak/apps/auth/authelia/app/externalsecret.yaml
  kubernetes/kyak/apps/auth/lldap/app/externalsecret.yaml
  kubernetes/kyak/apps/auth/lldap/ks.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/externalsecret.yaml
  kubernetes/kyak/apps/networking/echo/app/helmrelease.yaml
  kubernetes/kyak/apps/networking/echo/app/kustomization.yaml
  kubernetes/kyak/apps/networking/echo/ks.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/secretstore.yaml
  kubernetes/kyak/apps/tailscale/tailscale/app/externalsecret.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): more secret store ref updates
  kubernetes/kyak/apps/monitoring/unpoller/app/externalsecret.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): re-add secret
  kubernetes/kyak/apps/media/bazarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/bazarr/app/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): it's v1
  kubernetes/kyak/apps/media/bazarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change css name
  kubernetes/kyak/apps/media/bazarr/app/externalsecret.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): back to token
  kubernetes/kyak/apps/networking/cloudflare-dns/app/externalsecret.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): back to token again
  kubernetes/kyak/apps/networking/cloudflare-dns/app/externalsecret.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak)!: remove internal monitoring
  kubernetes/kyak/apps/monitoring/kustomization.yaml
  kubernetes/kyak/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/vector/app/agent/kustomization.yaml
  kubernetes/kyak/apps/monitoring/vector/app/agent/rbac.yaml
  kubernetes/kyak/apps/monitoring/vector/app/agent/resources/vector.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/kustomization.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/resources/vector.yaml
  kubernetes/kyak/apps/monitoring/vector/app/kustomization.yaml
  kubernetes/kyak/apps/monitoring/vector/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update unpoller to use grafana cloud
  kubernetes/kyak/apps/monitoring/unpoller/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update unpoller to use oci repo
  kubernetes/kyak/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): switch to new ns format
  kubernetes/kyak/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update ks to new format
  kubernetes/kyak/apps/monitoring/unpoller/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update some more ks stuff
  kubernetes/kyak/apps/media/jellyfin/ks.yaml
  kubernetes/kyak/apps/media/sabnzbd/ks.yaml
  kubernetes/kyak/apps/minio-system/minio/ks.yaml
  kubernetes/kyak/apps/networking/cloudflare-tunnel/ks.yaml
  kubernetes/kyak/apps/openebs-system/openebs/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): set arc runner path
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change openebs path
  kubernetes/kyak/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): move lldap to new format
  kubernetes/kyak/apps/auth/lldap/ks.yaml
  kubernetes/kyak/apps/media/bazarr/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): move to new ns format
  kubernetes/kyak/apps/auth/kustomization.yaml
  kubernetes/kyak/apps/auth/namespace.yaml
  kubernetes/kyak/apps/minio-system/kustomization.yaml
  kubernetes/kyak/apps/minio-system/namespace.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): move not hidden domain
  kubernetes/kyak/apps/auth/authelia/app/helmrelease.yaml
  kubernetes/kyak/apps/auth/keycloak/cluster/certificate.yaml
  kubernetes/kyak/apps/auth/keycloak/cluster/keycloak.yaml
  kubernetes/kyak/apps/auth/lldap/app/helmrelease.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/helmrelease.yaml
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/kyak/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/radarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/kyak/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/kyak/apps/minio-system/minio/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/gatus/app/resources/config.yaml
  kubernetes/kyak/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/kyak/apps/networking/nginx/certificates/certificates.yaml
  kubernetes/kyak/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/kyak/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak
