Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/pulumi, cluster/kyak, cluster/sol

fix(sol): change cilium hr
  kubernetes/sol/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): change ns on suc
  kubernetes/sol/apps/tools/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): update es secret
  kubernetes/kyak/apps/networking/external-dns/app/bind/externalsecret.yaml
  kubernetes/kyak/apps/networking/external-dns/app/bind/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix: update readme
  README.md
Labels: area/docs

fix: update readme
  README.md
Labels: area/docs

fix: change ns ref
  .archive/kube-guardian/kube-guardian/app/helmrelease.yaml
  .archive/kube-guardian/kube-guardian/app/kustomization.yaml
  .archive/kube-guardian/kube-guardian/app/pvc.yaml
  .archive/kube-guardian/kube-guardian/ks.yaml
  .archive/kube-guardian/kustomization.yaml
  .archive/kube-guardian/namespace.yaml
  kubernetes/sol/apps/tools/system-upgrade-controller/app/rbac.yaml
Labels: area/kubernetes, cluster/sol

feat(kyak): add nut-exporter
  kubernetes/kyak/apps/monitoring/kustomization.yaml
  kubernetes/kyak/apps/monitoring/nut-exporter/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/nut-exporter/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/nut-exporter/app/kustomization.yaml
  kubernetes/kyak/apps/monitoring/nut-exporter/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update thanos
  kubernetes/kyak/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(sol): add es
  kubernetes/sol/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): redo jellyfin into deployment
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(ci): update renovate
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

feat(ci): add bulk merge
  .github/workflows/bulk-merge-prs.yaml
Labels: area/github

fix(kyak): update all of the media stuff
  kubernetes/kyak/apps/media/autobrr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/autobrr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/autobrr/app/kustomization.yaml
  kubernetes/kyak/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/kyak/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/kyak/apps/media/qbittorrent/app/resources/completed.sh
  kubernetes/kyak/apps/media/qbittorrent/tools/helmrelease.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/kustomization.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/manage/kustomization.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/manage/patches/kustomizeconfig.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/orphaned/kustomization.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/reannounce/kustomization.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/resources/config.yaml
  kubernetes/kyak/apps/media/radarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/radarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/radarr/app/kustomization.yaml
  kubernetes/kyak/apps/media/radarr/app/pvc.yaml
  kubernetes/kyak/apps/media/radarr/app/resources/pushover-notify.sh
  kubernetes/kyak/apps/media/recyclarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/recyclarr/app/kustomization.yaml
  kubernetes/kyak/apps/media/sabnzbd/app/externalsecret.yaml
  kubernetes/kyak/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/kyak/apps/media/sonarr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/sonarr/app/kustomization.yaml
  kubernetes/kyak/apps/media/sonarr/app/pvc.yaml
  kubernetes/kyak/apps/media/sonarr/app/resources/pushover-notify.sh
  kubernetes/kyak/apps/media/unpackerr/app/externalsecret.yaml
  kubernetes/kyak/apps/media/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update descheduler
  kubernetes/kyak/apps/tools/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change folder
  kubernetes/kyak/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change sc
  kubernetes/kyak/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): force ceph reconcile
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): make jellyfin work
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add lldap probes
  kubernetes/kyak/apps/auth/lldap/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): maybe jellyfin will render
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): maybe jellyfin will render again
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change node selector
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): lower memory requests
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change nfs mount
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): allow jellyfin to rw media
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add jellyfin oauth
  kubernetes/kyak/apps/auth/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add jellyfin oauth secret
  kubernetes/kyak/apps/auth/authelia/app/externalsecret.yaml
Labels: area/kubernetes, cluster/kyak

fix(ci): update workflows
  .github/workflows/bulk-merge-prs.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-image-test.yaml
Labels: area/github

fix(kyak): change disable cilum SM
  kubernetes/kyak/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(ci): add codeql workflow
  .github/workflows/codeql.yml
Labels: area/github

fix(kyak): downgrade redis
  .envrc
  .gitignore
  Taskfile.yml
  kubernetes/kyak/apps/database/redis/app/helmrelease.yaml
  kubernetes/kyak/apps/flux-system/addons/app/monitoring/podmonitor.yaml
  kubernetes/kyak/apps/flux-system/addons/app/monitoring/prometheusrule.yaml
  kubernetes/kyak/apps/flux-system/addons/app/notifications/alert-manager/notification.yaml
  kubernetes/kyak/apps/monitoring/kromgo/app/resources/config.yaml
  kubernetes/kyak/flux/config/flux.yaml
  kubernetes/kyak/flux/repositories/git/kustomization.yaml
  kubernetes/sol/flux/vars/cluster-secrets.sops.env
  talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile, cluster/kyak, cluster/sol

fix(kyak): add prometheus dashboard
  kubernetes/kyak/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add inital netpols
  kubernetes/kyak/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/app/networkpolicy.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/netpols/allow-egress-apiserver.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/netpols/allow-egress-internet.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/netpols/allow-egress-kubedns.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/netpols/allow-egress-lan.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/netpols/allow-ingress-internet.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/netpols/allow-ingress-lan.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/netpols/allow-ingress-world.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/netpols/cluster-default-kube-dns.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/netpols/default-allow-kubedns.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/netpols/flux.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/netpols/kube-system-allow-all.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update vector config
  kubernetes/kyak/apps/monitoring/vector/app/agent/config/vector.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/config/vector.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(sol): update vector config
  kubernetes/sol/apps/monitoring/vector/app/agent/config/vector.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): fix spelling error
  kubernetes/kyak/apps/cert-manager/cert-manager/app/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): add suc
  kubernetes/kyak/apps/tools/kustomization.yaml
  kubernetes/kyak/apps/tools/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/kyak/apps/tools/system-upgrade-controller/app/kustomization.yaml
  kubernetes/kyak/apps/tools/system-upgrade-controller/app/rbac.yaml
  kubernetes/kyak/apps/tools/system-upgrade-controller/ks.yaml
  kubernetes/kyak/apps/tools/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/kyak/apps/tools/system-upgrade-controller/plans/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update rbac
  kubernetes/kyak/apps/tools/system-upgrade-controller/app/kustomization.yaml
  kubernetes/kyak/apps/tools/system-upgrade-controller/app/rbac.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add more netpols
  kubernetes/kyak/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): move netpol folder
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-egress-apiserver.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-egress-internet.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-egress-kubedns.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-egress-lan.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-ingress-internet.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-ingress-lan.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-ingress-world.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/default-allow-kubedns.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/kube-system-allow-all.yaml
Labels: area/kubernetes, cluster/kyak

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/pulumi:
  - changed-files:
      - any-glob-to-any-file: pulumi/**/*
# Cluster
cluster/kyak:
  - changed-files:
      - any-glob-to-any-file: talos/kyak/**/*
      - any-glob-to-any-file: kubernetes/kyak/**/*
      - any-glob-to-any-file: pulimi/kyak/**/*
cluster/sol:
  - changed-files:
      - any-glob-to-any-file: ansible/sol/**/*
      - any-glob-to-any-file: kubernetes/sol/**/*
      - any-glob-to-any-file: pulumi/sol/**/*
