Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/pulumi, cluster/kyak, cluster/sol

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/pulumi:
  - changed-files:
      - any-glob-to-any-file: pulumi/**/*
# Cluster
cluster/kyak:
  - changed-files:
      - any-glob-to-any-file: talos/kyak/**/*
      - any-glob-to-any-file: kubernetes/kyak/**/*
      - any-glob-to-any-file: pulimi/kyak/**/*
cluster/sol:
  - changed-files:
      - any-glob-to-any-file: ansible/sol/**/*
      - any-glob-to-any-file: kubernetes/sol/**/*
      - any-glob-to-any-file: pulumi/sol/**/*

feat(kyak): update bootstrapping
  kubernetes/kyak/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/kyak/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/kyak/apps/kube-system/coredns/app/kustomizeconfig.yaml
  kubernetes/kyak/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/kyak/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/kyak/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/kyak/apps/kube-system/spegel/app/helm-values.yaml
  kubernetes/kyak/bootstrap/helmfile.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable istio
  kubernetes/kyak/apps/istio-system/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update suc
  kubernetes/kyak/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): update to new cilium annotation format
  kubernetes/kyak/apps/auth/smtp-relay/app/helmrelease.yaml
  kubernetes/kyak/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/kyak/apps/istio-ingress/gateway/app/helmrelease.yaml
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/kyak/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/helmrelease.yaml
  kubernetes/kyak/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): update cert-manager
  kubernetes/kyak/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): use svc monitoring
  kubernetes/kyak/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): reenable istio
  kubernetes/kyak/apps/istio-system/cni/ks.yaml
  kubernetes/kyak/apps/istio-system/istiod/ks.yaml
  kubernetes/kyak/apps/istio-system/kiali/ks.yaml
  kubernetes/kyak/apps/istio-system/kustomization.yaml
  kubernetes/kyak/apps/istio-system/ztunnel/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update cert-manager dashboard
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): use the right namespace
  kubernetes/kyak/apps/istio-system/istiod/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): back to disabling istio
  kubernetes/kyak/apps/istio-system/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update vector config
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/resources/vector.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update vector config
  kubernetes/kyak/apps/monitoring/vector/app/agent/resources/vector.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add jellyfin sm
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): add unfi dashboards
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/kustomization.yaml
  kubernetes/kyak/apps/monitoring/unpoller/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/unpoller/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/unpoller/app/kustomization.yaml
  kubernetes/kyak/apps/monitoring/unpoller/ks.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): save logs
  kubernetes/kyak/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(sol): switch to unifi
  kubernetes/sol/apps/networking/external-dns/app/bind/helmrelease.yaml
  kubernetes/sol/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/sol/apps/networking/external-dns/app/unifi/externalsecret.yaml
  kubernetes/sol/apps/networking/external-dns/app/unifi/helmrelease.yaml
  kubernetes/sol/apps/networking/external-dns/app/unifi/kustomization.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): update domain filter
  kubernetes/sol/apps/networking/external-dns/app/unifi/helmrelease.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): update am endpoint
  kubernetes/sol/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/sol

fix: remove default ns
  .archive/cobra/apps/system-upgrade/namespace.yaml
  .archive/tetragon-system/namespace.yaml
  .taskfiles/Rook/templates/WipeDataJob.tmpl.yaml
  .taskfiles/Rook/templates/WipeDiskJob.tmpl.yaml
  kubernetes/kyak/apps/auth/keycloak/cluster/keycloak.yaml
  kubernetes/sol/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/sol/apps/cert-manager/namespace.yaml
  kubernetes/sol/apps/default/kopia/app/externalsecret.yaml
  kubernetes/sol/apps/default/kopia/app/helmrelease.yaml
  kubernetes/sol/apps/default/kopia/app/kustomization.yaml
  kubernetes/sol/apps/default/kopia/ks.yaml
  kubernetes/sol/apps/default/kustomization.yaml
  kubernetes/sol/apps/default/minio/app/externalsecret.yaml
  kubernetes/sol/apps/default/minio/app/helmrelease.yaml
  kubernetes/sol/apps/default/minio/app/kustomization.yaml
  kubernetes/sol/apps/default/minio/ks.yaml
  kubernetes/sol/apps/default/namespace.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/taskfile, cluster/kyak, cluster/sol

fix(kyak): disable istio-ingress
  kubernetes/kyak/apps/istio-ingress/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

feat: update renovate and taskfiles
  .gitattributes
  .github/renovate.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
  .sops.yaml
  .taskfiles/Bootstrap/Taskfile.yaml
  .taskfiles/Bootstrap/resources/scripts/wait-for-job.sh
  .taskfiles/Bootstrap/resources/templates/rook-data-job.yaml.j2
  .taskfiles/Bootstrap/resources/templates/rook-disk-job.yaml.j2
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Rook/Taskfile.yaml
  .taskfiles/Rook/scripts/wait-for-job.sh
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/Talos/scripts/upgrade.sh
  .taskfiles/VolSync/Taskfile.yaml
  .taskfiles/VolSync/resources/scripts/wait-for-job.sh
  .taskfiles/VolSync/resources/scripts/which-controller.sh
  .taskfiles/VolSync/resources/templates/list.yaml.j2
  .taskfiles/VolSync/resources/templates/replicationdestination.yaml.j2
  .taskfiles/VolSync/resources/templates/unlock.yaml.j2
  .taskfiles/VolSync/resources/templates/wipe.yaml.j2
  .taskfiles/VolSync/scripts/wait-for-job.sh
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  .taskfiles/workstation/resources/Brewfile
  .taskfiles/workstation/resources/requirements.txt
  .taskfiles/workstation/taskfile.yaml
  Taskfile.yml
Labels: area/github, area/taskfile

feat(kyak): add kepler
  kubernetes/kyak/apps/kepler-system/kepler/app/helmrelease.yaml
  kubernetes/kyak/apps/kepler-system/kepler/app/kustomization.yaml
  kubernetes/kyak/apps/kepler-system/kepler/ks.yaml
  kubernetes/kyak/apps/kepler-system/kustomization.yaml
  kubernetes/kyak/apps/kepler-system/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change release name
  kubernetes/kyak/apps/kepler-system/kepler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add kepler grafana dashboards
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add kepler options
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update power metrics
  README.md
  kubernetes/kyak/apps/monitoring/kromgo/app/resources/config.yaml
Labels: area/docs, area/kubernetes, cluster/kyak

feat(kyak): add auto bootstrapping
  .github/renovate/customManagers.json5
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/kyak/bootstrap/talos/groups/k8s-0.json
  kubernetes/kyak/bootstrap/talos/groups/k8s-1.json
  kubernetes/kyak/bootstrap/talos/groups/k8s-2.json
  kubernetes/kyak/bootstrap/talos/groups/k8s-3.json
  kubernetes/kyak/bootstrap/talos/groups/k8s-4.json
  kubernetes/kyak/bootstrap/talos/groups/k8s-5.json
  kubernetes/kyak/bootstrap/talos/groups/k8s-6.json
  kubernetes/kyak/bootstrap/talos/groups/k8s-7.json
  kubernetes/kyak/bootstrap/talos/groups/k8s-8.json
  kubernetes/kyak/bootstrap/talos/groups/k8s-9.json
  kubernetes/kyak/bootstrap/talos/profiles/k8s-0.json
  kubernetes/kyak/bootstrap/talos/profiles/k8s-1.json
  kubernetes/kyak/bootstrap/talos/profiles/k8s-2.json
  kubernetes/kyak/bootstrap/talos/profiles/k8s-3.json
  kubernetes/kyak/bootstrap/talos/profiles/k8s-4.json
  kubernetes/kyak/bootstrap/talos/profiles/k8s-5.json
  kubernetes/kyak/bootstrap/talos/profiles/k8s-6.json
  kubernetes/kyak/bootstrap/talos/profiles/k8s-7.json
  kubernetes/kyak/bootstrap/talos/profiles/k8s-8.json
  kubernetes/kyak/bootstrap/talos/profiles/k8s-9.json
Labels: area/github, area/kubernetes, area/taskfile, cluster/kyak

fix(kyak): set foundry to use tailscale to work about sockets
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): set foundry externaldns target
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): set tls block
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): set foundry externaldns target again
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove gateway api
  kubernetes/kyak/apps/networking/external-dns/cloudflare/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): hide grafana version
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update workflows
  .github/workflows/flux-image-test.yaml
  .github/workflows/flux-ks-sync.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
Labels: area/github

feat(kyak): try out okta
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): use right env
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): use okta block
  kubernetes/kyak/apps/monitoring/grafana/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add mapping role
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add groups
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add wud
  kubernetes/kyak/apps/auth/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/kyak
