Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/pulumi, cluster/kyak, cluster/sol

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/pulumi:
  - changed-files:
      - any-glob-to-any-file: pulumi/**/*
# Cluster
cluster/kyak:
  - changed-files:
      - any-glob-to-any-file: talos/kyak/**/*
      - any-glob-to-any-file: kubernetes/kyak/**/*
      - any-glob-to-any-file: pulimi/kyak/**/*
cluster/sol:
  - changed-files:
      - any-glob-to-any-file: ansible/sol/**/*
      - any-glob-to-any-file: kubernetes/sol/**/*
      - any-glob-to-any-file: pulumi/sol/**/*

fix(kyak): rollback vector
  kubernetes/kyak/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/helmrelease.yaml
  kubernetes/kyak/apps/tools/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update rbac
  kubernetes/kyak/apps/monitoring/vector/app/agent/rbac.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): some huge changes
  kubernetes/kyak/apps/external-secrets-system/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/kyak/apps/external-secrets-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/kyak/apps/external-secrets-system/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/kromgo/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/loki/app/objectbucketclaim.yaml
  kubernetes/kyak/apps/monitoring/loki/app/values.yaml
  kubernetes/kyak/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/kyak/apps/monitoring/thanos/app/objectbucketclaim.yaml
  kubernetes/kyak/apps/monitoring/thanos/app/pushsecret.yaml
  kubernetes/kyak/apps/monitoring/thanos/app/resources/cache.yaml
  kubernetes/kyak/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/kyak/apps/system-upgrade/kustomization.yaml
  kubernetes/kyak/apps/system-upgrade/namespace.yaml
  kubernetes/kyak/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/kyak/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/kyak/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
  kubernetes/kyak/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/kyak/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/kyak/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/kyak/apps/tailscale/tailscale/app/helmrelease.yaml
  kubernetes/kyak/apps/tools/system-upgrade-controller/app/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(sol): update thanos config
  kubernetes/sol/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/sol/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): change target ns
  kubernetes/kyak/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): oops
  kubernetes/kyak/apps/tools/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update namespace ref
  kubernetes/kyak/apps/external-secrets-system/external-secrets/stores/onepassword/clustersecretstore.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update vector
  kubernetes/kyak/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/vector/app/agent/resources/vector.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/resources/vector.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update target ns
  kubernetes/kyak/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add some kustomization updates
  kubernetes/kyak/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update LB ip
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change dep namespace
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change allocated memory
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update kp stack values
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add var subs
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove heartbeat
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/resources/kube-state-metrics.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove heartbeat pt. 2
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
Labels: area/kubernetes, cluster/kyak

fix(ci): update workflows and configs
  .github/PULL_REQUEST_TEMPLATE.md
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/semanticCommits.json5
  .github/workflows/bulk-merge-prs.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/flux-ks-sync.yaml
  .github/workflows/publish-schemas.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(kyak): disable autobrr
  kubernetes/kyak/apps/media/kustomization.yaml
  kubernetes/kyak/apps/media/namespace.yaml
  kubernetes/kyak/apps/monitoring/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable overseerr
  kubernetes/kyak/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update qb
  kubernetes/kyak/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/kyak/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/kyak/apps/media/qbittorrent/app/resources/lokirule.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/helmrelease.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/kustomization.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/qbtools.secret.sops.yaml
  kubernetes/kyak/apps/media/qbittorrent/tools/resources/config.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update chart ver
  kubernetes/kyak/apps/kube-system/fstrim/app/helmrelease.yaml
  kubernetes/kyak/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/radarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/sabnzbd/app/helmrelease.yaml
  kubernetes/kyak/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/unpackerr/app/helmrelease.yaml
  kubernetes/kyak/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/kyak/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): move to volsync-system
  kubernetes/kyak/apps/rook-ceph/rook-ceph/app/externalsecret.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/app/rook-ceph-dashboard-password.secret.sops.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/kyak/apps/storage/namespace.yaml
  kubernetes/kyak/apps/volsync-system/kustomization.yaml
  kubernetes/kyak/apps/volsync-system/namespace.yaml
  kubernetes/kyak/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/kyak/apps/volsync-system/snapshot-controller/app/kustomization.yaml
  kubernetes/kyak/apps/volsync-system/snapshot-controller/ks.yaml
  kubernetes/kyak/apps/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/kyak/apps/volsync-system/volsync/app/kustomization.yaml
  kubernetes/kyak/apps/volsync-system/volsync/app/prometheusrule.yaml
  kubernetes/kyak/apps/volsync-system/volsync/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change dep namespace
  kubernetes/kyak/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change dep namespace
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove scheduling restrictions
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): make tempo reconcile
  kubernetes/kyak/apps/monitoring/tempo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change to maybe make image work
  kubernetes/kyak/apps/tailscale/tailscale/app/externalsecret.yaml
  kubernetes/kyak/apps/tailscale/tailscale/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update jellyfin
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update jellyfin image
  kubernetes/kyak/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/sol/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/sol/apps/storage/kustomization.yaml
  kubernetes/sol/apps/storage/local-path-provisioner/app/helmrelease.yaml
  kubernetes/sol/apps/storage/local-path-provisioner/app/kustomization.yaml
  kubernetes/sol/apps/storage/local-path-provisioner/ks.yaml
  kubernetes/sol/apps/storage/namespace.yaml
Labels: area/kubernetes, cluster/kyak, cluster/sol

Revert "feat(container): update volsync group ( 0.8.0 → 0.9.1 ) (minor) (#4504)"
  kubernetes/kyak/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): use apiserver proxy
  kubernetes/kyak/apps/tailscale/tailscale/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change case
  kubernetes/kyak/apps/tailscale/tailscale/app/externalsecret.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable snmp exporter
  kubernetes/kyak/apps/monitoring/kustomization.yaml
  kubernetes/kyak/apps/monitoring/snmp-exporter/app/dell-idrac/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/snmp-exporter/app/dell-idrac/kustomization.yaml
  kubernetes/kyak/apps/monitoring/snmp-exporter/app/dell-idrac/resources/dashboard.json
  kubernetes/kyak/apps/monitoring/snmp-exporter/app/dell-idrac/resources/snmp.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change nfs mount
  kubernetes/kyak/apps/media/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update kp stack stuff
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/prometheusrule.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/scrapeconfig.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/federation.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/osiris.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/pikvm.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/vyos.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): add crunchy pg
  kubernetes/kyak/apps/database/crunchy-postgres/app/helmrelease.yaml
  kubernetes/kyak/apps/database/crunchy-postgres/app/kustomization.yaml
  kubernetes/kyak/apps/database/crunchy-postgres/app/networkpolicy.yaml
  kubernetes/kyak/apps/database/crunchy-postgres/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): enable crunchy pg
  kubernetes/kyak/apps/database/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change source ref
  kubernetes/kyak/apps/database/crunchy-postgres/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): pls stop sending me dead man switches
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/kubernetes, cluster/kyak
