Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/pulumi, cluster/kyak, cluster/sol

fix(sol): swap ns
  kubernetes/sol/apps/kube-system/reloader/ks.yaml
Labels: area/kubernetes, cluster/sol

fix: change language server to v2
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set-controller/app/helmrelease.yaml
  kubernetes/kyak/apps/actions-runner-system/gha-runner-scale-set/app/helmrelease.yaml
  kubernetes/kyak/apps/auth/lldap/app/helmrelease.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/kyak/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/kyak/apps/external-secrets-system/external-secrets/app/helmrelease.yaml
  kubernetes/kyak/apps/gpu-system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/kyak/apps/gpu-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/nut-exporter/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/snmp-exporter/app/dell-idrac/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/kyak/apps/networking/external-dns/app/bind/helmrelease.yaml
  kubernetes/kyak/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/kyak/apps/tailscale/tailscale/app/helmrelease.yaml
  kubernetes/kyak/apps/tools/descheduler/app/helmrelease.yaml
  kubernetes/kyak/apps/tools/reloader/app/helmrelease.yaml
  kubernetes/kyak/apps/volsync-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/kyak/apps/volsync-system/volsync/app/helmrelease.yaml
  kubernetes/sol/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/sol/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/sol/apps/istio-system/base/app/helmrelease.yaml
  kubernetes/sol/apps/istio-system/gateway/app/helmrelease.yaml
  kubernetes/sol/apps/istio-system/istiod/app/helmrelease.yaml
  kubernetes/sol/apps/kepler-system/kepler/app/helmrelease.yaml
  kubernetes/sol/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/sol/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/sol/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/sol/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/sol/apps/monitoring/smartctl-exporter/app/helmrelease.yaml
  kubernetes/sol/apps/networking/external-dns/app/bind/helmrelease.yaml
  kubernetes/sol/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/sol/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak, cluster/sol

fix(sol): add account tag
  kubernetes/sol/apps/default/kopia/app/externalsecret.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): add dns annotations
  kubernetes/kyak/apps/istio-system/kiali/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): use corect indentation
  kubernetes/kyak/apps/istio-system/kiali/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): make bool string:
  kubernetes/kyak/apps/istio-system/kiali/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add kiali sso
  kubernetes/kyak/apps/auth/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): use corect spelling
  kubernetes/kyak/apps/auth/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add grafana sa token
  kubernetes/kyak/apps/istio-system/base/app/helmrelease.yaml
  kubernetes/kyak/apps/istio-system/kiali/app/externalsecret.yaml
  kubernetes/kyak/apps/istio-system/kiali/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add missing key
  kubernetes/kyak/apps/istio-system/base/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): deploy istio dashboards
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): rename key
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add istio folder
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add federation
  kubernetes/kyak/apps/istio-system/istiod/app/federation.yaml
  kubernetes/kyak/apps/istio-system/istiod/app/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add injection label
  kubernetes/kyak/apps/actions-runner-system/namespace.yaml
  kubernetes/kyak/apps/auth/namespace.yaml
  kubernetes/kyak/apps/cert-manager/namespace.yaml
  kubernetes/kyak/apps/database/namespace.yaml
  kubernetes/kyak/apps/external-secrets-system/namespace.yaml
  kubernetes/kyak/apps/flux-system/namespace.yaml
  kubernetes/kyak/apps/foundry-system/namespace.yaml
  kubernetes/kyak/apps/gpu-system/namespace.yaml
  kubernetes/kyak/apps/kube-system/namespace.yaml
  kubernetes/kyak/apps/media/namespace.yaml
  kubernetes/kyak/apps/networking/namespace.yaml
  kubernetes/kyak/apps/openebs-system/namespace.yaml
  kubernetes/kyak/apps/rook-ceph/namespace.yaml
  kubernetes/kyak/apps/system-upgrade/namespace.yaml
  kubernetes/kyak/apps/tailscale/namespace.yaml
  kubernetes/kyak/apps/tools/namespace.yaml
  kubernetes/kyak/apps/volsync-system/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): try using prom
  kubernetes/kyak/apps/istio-system/kiali/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): back to thanos
  kubernetes/kyak/apps/istio-system/istiod/app/kustomization.yaml
  kubernetes/kyak/apps/istio-system/kiali/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): require ldap group
  kubernetes/kyak/apps/auth/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update ceph cleanup
  .taskfiles/Rook/scripts/wait-for-job.sh
  .taskfiles/Rook/templates/WipeDataJob.tmpl.yaml
  .taskfiles/Rook/templates/WipeDiskJob.tmpl.yaml
Labels: area/taskfile

fix(kyak): disable istio injection
  kubernetes/kyak/apps/openebs-system/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(talos): update talconfig
  talos/talconfig.yaml
Labels: none

fix(move): minio
  kubernetes/kyak/apps/actions-runner-system/namespace.yaml
  kubernetes/kyak/apps/auth/namespace.yaml
  kubernetes/kyak/apps/cert-manager/namespace.yaml
  kubernetes/kyak/apps/database/namespace.yaml
  kubernetes/kyak/apps/external-secrets-system/namespace.yaml
  kubernetes/kyak/apps/flux-system/namespace.yaml
  kubernetes/kyak/apps/foundry-system/namespace.yaml
  kubernetes/kyak/apps/gpu-system/namespace.yaml
  kubernetes/kyak/apps/istio-system/namespace.yaml
  kubernetes/kyak/apps/kube-system/namespace.yaml
  kubernetes/kyak/apps/media/namespace.yaml
  kubernetes/kyak/apps/minio-system/kustomization.yaml
  kubernetes/kyak/apps/minio-system/minio/app/externalsecret.yaml
  kubernetes/kyak/apps/minio-system/minio/app/helmrelease.yaml
  kubernetes/kyak/apps/minio-system/minio/app/kustomization.yaml
  kubernetes/kyak/apps/minio-system/minio/ks.yaml
  kubernetes/kyak/apps/minio-system/namespace.yaml
  kubernetes/kyak/apps/networking/namespace.yaml
  kubernetes/kyak/apps/rook-ceph/namespace.yaml
  kubernetes/kyak/apps/system-upgrade/namespace.yaml
  kubernetes/kyak/apps/tools/namespace.yaml
  kubernetes/kyak/apps/volsync-system/namespace.yaml
  kubernetes/kyak/templates/volsync/minio.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add some istio settings
  kubernetes/kyak/apps/istio-system/istiod/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change some istio settings
  kubernetes/kyak/apps/istio-system/istiod/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): enable gatus
  kubernetes/kyak/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): rename folder
  kubernetes/kyak/apps/monitoring/gatus/app/resources/config.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change externaldns annotation
  kubernetes/kyak/apps/monitoring/kromgo/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable qb
  kubernetes/kyak/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix: update readme
  README.md
Labels: area/docs

fix: fix url encode
  README.md
Labels: area/docs

fix(kyak): remove tools ns
  kubernetes/kyak/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/kyak/apps/kube-system/descheduler/ks.yaml
  kubernetes/kyak/apps/kube-system/kustomization.yaml
  kubernetes/kyak/apps/kube-system/namespace.yaml
  kubernetes/kyak/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/kyak/apps/kube-system/reloader/ks.yaml
  kubernetes/kyak/apps/monitoring/kromgo/ks.yaml
  kubernetes/kyak/apps/monitoring/smartctl-exporter/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/smartctl-exporter/app/prometheusrule.yaml
  kubernetes/kyak/apps/tools/kustomization.yaml
  kubernetes/kyak/apps/tools/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update templates
  kubernetes/kyak/templates/gatus/external/configmap.yaml
  kubernetes/kyak/templates/gatus/guarded/configmap.yaml
Labels: area/kubernetes, cluster/kyak

fix(ci): renovate talos
  .github/renovate/customManagers.json5
Labels: area/github

fix(kyak): update gateway
  kubernetes/kyak/apps/istio-system/gateway/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): move gateway to new ns
  kubernetes/kyak/apps/istio-ingress/gateway/app/certificate.yaml
  kubernetes/kyak/apps/istio-ingress/gateway/app/gateway.yaml
  kubernetes/kyak/apps/istio-ingress/gateway/app/helmrelease.yaml
  kubernetes/kyak/apps/istio-ingress/gateway/app/kustomization.yaml
  kubernetes/kyak/apps/istio-ingress/gateway/ks.yaml
  kubernetes/kyak/apps/istio-ingress/kustomization.yaml
  kubernetes/kyak/apps/istio-ingress/namespace.yaml
  kubernetes/kyak/apps/istio-system/gateway/app/certificate.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change path
  kubernetes/kyak/apps/istio-ingress/gateway/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change to conform to gateway api
  kubernetes/kyak/apps/istio-ingress/gateway/app/gateway.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): enable gateway api for cert-manager
  kubernetes/kyak/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/kyak/apps/istio-ingress/gateway/app/gateway.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): enable gateway api for bind external dns
  kubernetes/kyak/apps/networking/external-dns/app/bind/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove cilium annotation
  kubernetes/kyak/apps/istio-ingress/gateway/app/gateway.yaml
  kubernetes/kyak/apps/istio-ingress/gateway/app/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/pulumi:
  - changed-files:
      - any-glob-to-any-file: pulumi/**/*
# Cluster
cluster/kyak:
  - changed-files:
      - any-glob-to-any-file: talos/kyak/**/*
      - any-glob-to-any-file: kubernetes/kyak/**/*
      - any-glob-to-any-file: pulimi/kyak/**/*
cluster/sol:
  - changed-files:
      - any-glob-to-any-file: ansible/sol/**/*
      - any-glob-to-any-file: kubernetes/sol/**/*
      - any-glob-to-any-file: pulumi/sol/**/*
