Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/pulumi, cluster/kyak, cluster/sol

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/pulumi:
  - changed-files:
      - any-glob-to-any-file: pulumi/**/*
# Cluster
cluster/kyak:
  - changed-files:
      - any-glob-to-any-file: talos/kyak/**/*
      - any-glob-to-any-file: kubernetes/kyak/**/*
      - any-glob-to-any-file: pulimi/kyak/**/*
cluster/sol:
  - changed-files:
      - any-glob-to-any-file: ansible/sol/**/*
      - any-glob-to-any-file: kubernetes/sol/**/*
      - any-glob-to-any-file: pulumi/sol/**/*

fix(kyak): add allowed sab domain
  kubernetes/kyak/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add comma
  kubernetes/kyak/apps/media/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change chart name
  kubernetes/kyak/apps/database/crunchy-postgres/userinit-controller/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(sol): update to app-template v3
  kubernetes/sol/apps/default/kopia/app/externalsecret.yaml
  kubernetes/sol/apps/default/kopia/app/helmrelease.yaml
  kubernetes/sol/apps/default/kopia/app/kustomization.yaml
  kubernetes/sol/apps/default/kopia/app/resources/repository.config
  kubernetes/sol/apps/default/kustomization.yaml
  kubernetes/sol/apps/default/minio/app/helmrelease.yaml
  kubernetes/sol/apps/default/zot/app/config/config.json
  kubernetes/sol/apps/default/zot/app/helmrelease.yaml
  kubernetes/sol/apps/default/zot/app/kustomization.yaml
  kubernetes/sol/apps/default/zot/ks.yaml
  kubernetes/sol/apps/tools/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/sol

fix(ansible): move ansible support files
  ansible/.ansible-lint
  ansible/requirements.txt
  ansible/requirements.yaml
Labels: area/ansible

fix(sol): move some apps
  kubernetes/sol/apps/kube-system/kustomization.yaml
  kubernetes/sol/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/sol/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/sol/apps/kube-system/reloader/ks.yaml
  kubernetes/sol/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/sol/apps/system-upgrade/kustomization.yaml
  kubernetes/sol/apps/system-upgrade/namespace.yaml
  kubernetes/sol/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/sol/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/sol/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
  kubernetes/sol/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/sol/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/sol/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/sol/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): add yaml anchor
  kubernetes/sol/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): disalbe ramblurr
  kubernetes/sol/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): move es to it's own namespace
  kubernetes/sol/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/sol/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/sol/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/sol/apps/external-secrets/external-secrets/stores/kustomization.yaml
  kubernetes/sol/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/sol/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/sol/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/sol/apps/external-secrets/external-secrets/stores/onepassword/onepassword-connect.secret.sops.yaml
  kubernetes/sol/apps/external-secrets/kustomization.yaml
  kubernetes/sol/apps/external-secrets/namespace.yaml
Labels: area/kubernetes, cluster/sol

feat(kyak): add smtp-realy
  kubernetes/kyak/apps/auth/kustomization.yaml
  kubernetes/kyak/apps/auth/lldap/app/helmrelease.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/externalsecret.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/helmrelease.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/kustomization.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/resources/maddy.conf
  kubernetes/kyak/apps/auth/smtp-relay/ks.yaml
Labels: area/kubernetes, cluster/kyak

roatate token
  kubernetes/kyak/apps/external-secrets-system/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change more secret data
  kubernetes/kyak/apps/external-secrets-system/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes, cluster/kyak

try double encrypting
  kubernetes/kyak/apps/external-secrets-system/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): one hop this time
  kubernetes/kyak/apps/external-secrets-system/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): slide to the left
  kubernetes/kyak/apps/external-secrets-system/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): take it back now y'all
  kubernetes/kyak/apps/external-secrets-system/external-secrets/stores/onepassword/clustersecretstore.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): everybody clap yo' hands
  kubernetes/kyak/apps/external-secrets-system/external-secrets/stores/onepassword/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): cha cha real smooth
  kubernetes/kyak/apps/external-secrets-system/external-secrets/stores/onepassword/clustersecretstore.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change token again
  kubernetes/kyak/apps/external-secrets-system/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): use in cluster relay)
  kubernetes/kyak/apps/auth/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/kyak

fix(sol): rotate 1p connect stuff
  kubernetes/sol/apps/external-secrets/external-secrets/stores/onepassword/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes, cluster/sol

fix: migrate to openebs v4
  kubernetes/kyak/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/kyak/flux/repositories/helm/openebs.yaml
  kubernetes/sol/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/sol/flux/repositories/helm/openebs.yaml
Labels: area/kubernetes, cluster/kyak, cluster/sol

fix(sol): maybe make es work
  kubernetes/sol/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/sol/apps/external-secrets/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/sol/apps/external-secrets/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/sol/apps/external-secrets/external-secrets/stores/onepassword/kustomization.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): move secret
  kubernetes/sol/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/sol/apps/external-secrets/external-secrets/app/onepassword-connect.secret.sops.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): disable redis
  kubernetes/kyak/apps/database/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(sol): change reloader ns
  kubernetes/sol/apps/kube-system/reloader/ks.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): lower memory limit
  kubernetes/kyak/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add mem request
  kubernetes/kyak/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): use upstream image
  kubernetes/kyak/apps/volsync-system/volsync/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add jellyfin oauth config
  kubernetes/kyak/apps/auth/authelia/app/config/configuration.yaml
Labels: area/kubernetes, cluster/kyak

fix(sol): disable istio gateway
  kubernetes/sol/apps/istio-system/kustomization.yaml
Labels: area/kubernetes, cluster/sol

fix: remove xentra
  kubernetes/kyak/flux/repositories/helm/kustomization.yaml
  kubernetes/kyak/flux/repositories/helm/xentra.yaml
  kubernetes/sol/flux/repositories/helm/xentra.yaml
Labels: area/kubernetes, cluster/kyak, cluster/sol

feat(kyak): deploy jellyseerr
  kubernetes/kyak/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/jellyseerr/app/kustomization.yaml
  kubernetes/kyak/apps/media/jellyseerr/ks.yaml
  kubernetes/kyak/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change hr name
  kubernetes/kyak/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/jellyseerr/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add fancy hostname
  kubernetes/kyak/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/kyak/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): need RW fs
  kubernetes/kyak/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): relax fs policy
  kubernetes/kyak/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add cache dir
  kubernetes/kyak/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/kyak/apps/media/jellyseerr/app/kustomization.yaml
  kubernetes/kyak/apps/media/jellyseerr/app/pvc.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change grpc bind port
  kubernetes/kyak/apps/tetragon-system/tetragon/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable oci hook
  kubernetes/kyak/apps/tetragon-system/tetragon/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak
