Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/pulumi, cluster/kyak, cluster/sol

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/pulumi:
  - changed-files:
      - any-glob-to-any-file: pulumi/**/*
# Cluster
cluster/kyak:
  - changed-files:
      - any-glob-to-any-file: talos/kyak/**/*
      - any-glob-to-any-file: kubernetes/kyak/**/*
      - any-glob-to-any-file: pulimi/kyak/**/*
cluster/sol:
  - changed-files:
      - any-glob-to-any-file: ansible/sol/**/*
      - any-glob-to-any-file: kubernetes/sol/**/*
      - any-glob-to-any-file: pulumi/sol/**/*

fix(kyak): change ingress class
  kubernetes/kyak/apps/backup-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove target
  kubernetes/kyak/apps/backup-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add tls config
  kubernetes/kyak/apps/backup-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(sol): update plans
  kubernetes/sol/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/sol/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): increase mem limit
  kubernetes/kyak/apps/backup-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

Fix code scanning alert #15512: Client-side cross-site scripting
  pulumi/aws/icb/const/index.html
Labels: area/pulumi

fix: add integrity
  pulumi/aws/icb/const/index.html
Labels: area/pulumi

Fix code scanning alert #15512: Client-side cross-site scripting (#5426)
  pulumi/aws/icb/const/index.html
Labels: area/pulumi

fix(talos): update talconfig
  talos/talconfig.yaml
Labels: none

fix(talos): add tpm encryption
  talos/talconfig.yaml
Labels: none

fix: update cilium
  kubernetes/kyak/apps/kube-system/cilium/app/bgp.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/helmrelease.yaml
  talos/bootstrap/cni/kustomization.yaml
  talos/bootstrap/cni/values.yaml
  talos/bootstrap/coredns/kustomization.yaml
  talos/bootstrap/kustomization.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable envoy
  kubernetes/kyak/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add spegel
  kubernetes/kyak/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/kyak/apps/kube-system/spegel/app/kustomizeconfig.yaml
  kubernetes/kyak/apps/kube-system/spegel/app/values.yaml
  kubernetes/kyak/apps/kube-system/spegel/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove depricated option
  kubernetes/kyak/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change ns name
  kubernetes/kyak/apps/external-secrets-system/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): more cilium updates
  kubernetes/kyak/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove dupe keys
  kubernetes/kyak/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): upgrade to pg 17
  kubernetes/kyak/apps/database/cloudnative-pg/cluster/cluster17yaml
  kubernetes/kyak/apps/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): switch file name
  kubernetes/kyak/apps/kube-system/spegel/app/helm-values.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change cluster name
  kubernetes/kyak/apps/database/cloudnative-pg/cluster/cluster17yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): fix filename
  kubernetes/kyak/apps/database/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): enable cluster16
  kubernetes/kyak/apps/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): bump current ver
  kubernetes/kyak/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): restore from other cluster
  kubernetes/kyak/apps/database/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/kyak

fix: allow updated postgres version
  .github/renovate/allowedVersions.json5
Labels: area/github

fix(kyak): set target time
  kubernetes/kyak/apps/database/cloudnative-pg/cluster/cluster17.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): enable rule
  kubernetes/kyak/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable pg 17
  kubernetes/kyak/apps/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable connector
  kubernetes/kyak/apps/tailscale/tailscale/app/kustomization.yaml
  kubernetes/kyak/bootstrap/flux/age-key.secret.sops.yaml
  kubernetes/kyak/bootstrap/flux/github-deploy-key.secret.sops.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): switch to unifi external dns hooks
  kubernetes/kyak/apps/networking/external-dns/app/bind/helmrelease.yaml
  kubernetes/kyak/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  kubernetes/kyak/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/kyak/apps/networking/external-dns/app/unifi/externalsecret.yaml
  kubernetes/kyak/apps/networking/external-dns/app/unifi/helmrelease.yaml
  kubernetes/kyak/apps/networking/external-dns/app/unifi/kustomization.yaml
  kubernetes/kyak/apps/networking/external-dns/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): enable spegel
  kubernetes/kyak/flux/repositories/helm/kustomization.yaml
  kubernetes/kyak/flux/repositories/helm/spegel.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change folder
  kubernetes/kyak/apps/networking/external-dns/cloudflare/externalsecret.yaml
  kubernetes/kyak/apps/networking/external-dns/cloudflare/helmrelease.yaml
  kubernetes/kyak/apps/networking/external-dns/cloudflare/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): move other folder
  kubernetes/kyak/apps/networking/external-dns/app/unifi/externalsecret.yaml
  kubernetes/kyak/apps/networking/external-dns/app/unifi/helmrelease.yaml
  kubernetes/kyak/apps/networking/external-dns/app/unifi/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change folder name again
  kubernetes/kyak/apps/networking/external-dns/unifi/externalsecret.yaml
  kubernetes/kyak/apps/networking/external-dns/unifi/helmrelease.yaml
  kubernetes/kyak/apps/networking/external-dns/unifi/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change domain
  kubernetes/kyak/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change unifi host
  kubernetes/kyak/apps/networking/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change spegel image
  kubernetes/kyak/apps/kube-system/spegel/app/helm-values.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): switch ceph back to host mode
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): bump for restore
  kubernetes/kyak/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update cilium
  kubernetes/kyak/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/kyak/apps/kube-system/cilium/app/kustomizeconfig.yaml
Labels: area/kubernetes, cluster/kyak
