Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/pulumi, cluster/kyak, cluster/sol

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/pulumi:
  - changed-files:
      - any-glob-to-any-file: pulumi/**/*
# Cluster
cluster/kyak:
  - changed-files:
      - any-glob-to-any-file: talos/kyak/**/*
      - any-glob-to-any-file: kubernetes/kyak/**/*
      - any-glob-to-any-file: pulimi/kyak/**/*
cluster/sol:
  - changed-files:
      - any-glob-to-any-file: ansible/sol/**/*
      - any-glob-to-any-file: kubernetes/sol/**/*
      - any-glob-to-any-file: pulumi/sol/**/*

fix(kyak): try an ingress
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): enable gateway api for all external dns
  kubernetes/kyak/apps/networking/external-dns/app/bind/helmrelease.yaml
  kubernetes/kyak/apps/networking/external-dns/app/cloudflare/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): only http route is ga
  kubernetes/kyak/apps/networking/external-dns/app/bind/helmrelease.yaml
  kubernetes/kyak/apps/networking/external-dns/app/cloudflare/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add gateway endpoint
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/helmrelease.yaml
  kubernetes/kyak/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/kyak/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): move annotation
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/helmrelease.yaml
  kubernetes/kyak/apps/istio-ingress/gateway/app/gateway.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add ns label
  kubernetes/kyak/apps/foundry-system/namespace.yaml
  kubernetes/kyak/apps/istio-ingress/gateway/app/gateway.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): back to ingress
  kubernetes/kyak/apps/foundry-system/foundryvtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove extra endpoints
  kubernetes/kyak/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/kyak/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/kyak

fix(talos): add tpm encryption and patches
  talos/talconfig.yaml
Labels: none

feat(kyak): deploy keycloak operator
  kubernetes/kyak/apps/auth/keycloak/app/crds/kustomization.yaml
  kubernetes/kyak/apps/auth/keycloak/app/deployment.yaml
  kubernetes/kyak/apps/auth/keycloak/app/kustomization.yaml
  kubernetes/kyak/apps/auth/keycloak/app/rbac.yaml
  kubernetes/kyak/apps/auth/keycloak/app/service.yaml
  kubernetes/kyak/apps/auth/keycloak/app/serviceaccount.yaml
  kubernetes/kyak/apps/auth/keycloak/ks.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): deploy keycloak
  kubernetes/kyak/apps/auth/keycloak/cluster/externalsecret.yaml
  kubernetes/kyak/apps/auth/keycloak/cluster/keycloak.yaml
  kubernetes/kyak/apps/auth/keycloak/cluster/kustomization.yaml
  kubernetes/kyak/apps/auth/keycloak/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove logging
  kubernetes/kyak/apps/auth/keycloak/cluster/keycloak.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove extra fields
  kubernetes/kyak/apps/auth/keycloak/cluster/keycloak.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add certificate
  kubernetes/kyak/apps/auth/keycloak/cluster/certificate.yaml
  kubernetes/kyak/apps/auth/keycloak/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): fix spelling
  kubernetes/kyak/apps/auth/keycloak/cluster/externalsecret.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove depricated option
  kubernetes/kyak/apps/auth/keycloak/cluster/keycloak.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable fips
  kubernetes/kyak/apps/auth/keycloak/cluster/keycloak.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): move es and add init
  kubernetes/kyak/apps/auth/keycloak/app/deployment.yaml
  kubernetes/kyak/apps/auth/keycloak/app/externalsecret.yaml
  kubernetes/kyak/apps/auth/keycloak/app/kustomization.yaml
  kubernetes/kyak/apps/auth/keycloak/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change secret ref
  kubernetes/kyak/apps/auth/keycloak/app/deployment.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change schema
  kubernetes/kyak/apps/auth/keycloak/cluster/keycloak.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable backchannel
  kubernetes/kyak/apps/auth/keycloak/cluster/keycloak.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add target
  kubernetes/kyak/apps/auth/keycloak/cluster/keycloak.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): set different url
  kubernetes/kyak/apps/auth/keycloak/cluster/keycloak.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove option
  kubernetes/kyak/apps/auth/keycloak/cluster/keycloak.yaml
Labels: area/kubernetes, cluster/kyak

feat(pulumi): add keycloak basic config
  pulumi/kyak/keycloak/.gitignore
  pulumi/kyak/keycloak/Pulumi.kyak.yaml
  pulumi/kyak/keycloak/Pulumi.yaml
  pulumi/kyak/keycloak/index.ts
  pulumi/kyak/keycloak/package-lock.json
  pulumi/kyak/keycloak/package.json
  pulumi/kyak/keycloak/tsconfig.json
Labels: area/pulumi

feat(kyak): deploy goldilocks
  kubernetes/kyak/apps/kube-system/goldilocks/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/goldilocks/app/kustomization.yaml
  kubernetes/kyak/apps/kube-system/goldilocks/ks.yaml
  kubernetes/kyak/apps/kube-system/kustomization.yaml
  kubernetes/kyak/flux/repositories/helm/fairwinds.yaml
  kubernetes/kyak/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add goldilocks labels
  kubernetes/kyak/apps/actions-runner-system/namespace.yaml
  kubernetes/kyak/apps/auth/namespace.yaml
  kubernetes/kyak/apps/cert-manager/namespace.yaml
  kubernetes/kyak/apps/database/namespace.yaml
  kubernetes/kyak/apps/external-secrets-system/namespace.yaml
  kubernetes/kyak/apps/flux-system/namespace.yaml
  kubernetes/kyak/apps/foundry-system/namespace.yaml
  kubernetes/kyak/apps/gpu-system/namespace.yaml
  kubernetes/kyak/apps/istio-ingress/namespace.yaml
  kubernetes/kyak/apps/istio-system/namespace.yaml
  kubernetes/kyak/apps/kube-system/namespace.yaml
  kubernetes/kyak/apps/monitoring/namespace.yaml
  kubernetes/kyak/apps/networking/namespace.yaml
  kubernetes/kyak/apps/openebs-system/namespace.yaml
  kubernetes/kyak/apps/rook-ceph/namespace.yaml
  kubernetes/kyak/apps/system-upgrade/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add more goldilocks labels
  kubernetes/kyak/apps/media/namespace.yaml
  kubernetes/kyak/apps/minio-system/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change secret name
  kubernetes/kyak/apps/kube-system/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(pulumi): update cdn
  pulumi/aws/icb/.gitignore
  pulumi/aws/icb/Pulumi.icb.yaml
  pulumi/aws/icb/Pulumi.yaml
  pulumi/aws/icb/const/index.html
  pulumi/aws/icb/index.ts
  pulumi/aws/icb/package-lock.json
  pulumi/aws/icb/package.json
  pulumi/aws/icb/tsconfig.json
Labels: area/pulumi

fix(pulumi): update objects
  pulumi/aws/icb/index.ts
Labels: area/pulumi

fix(pulumi): no default profile
  pulumi/aws/icb/Pulumi.icb.yaml
Labels: area/pulumi

fix(pulumi): set policies
  pulumi/aws/icb/index.ts
Labels: area/pulumi

fix(kyak): remove templating
  kubernetes/kyak/apps/kube-system/goldilocks/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

feat(kyak): add tls to maddy
  kubernetes/kyak/apps/auth/authelia/app/config/configuration.yaml
  kubernetes/kyak/apps/auth/lldap/app/helmrelease.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/certificate.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/helmrelease.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/kustomization.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/resources/maddy.conf
Labels: area/kubernetes, cluster/kyak

fix(kyak): add secret mount
  kubernetes/kyak/apps/auth/smtp-relay/app/helmrelease.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/resources/maddy.conf
Labels: area/kubernetes, cluster/kyak

fix(kyak): change secret name
  kubernetes/kyak/apps/auth/smtp-relay/app/certificate.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable maddy tls
  kubernetes/kyak/apps/auth/authelia/app/config/configuration.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/helmrelease.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/kustomization.yaml
  kubernetes/kyak/apps/auth/smtp-relay/app/resources/maddy.conf
Labels: area/kubernetes, cluster/kyak

fix(kyak): move kopia
  kubernetes/kyak/apps/backup-system/kopia/app/externalsecret.yaml
  kubernetes/kyak/apps/backup-system/kopia/app/helmrelease.yaml
  kubernetes/kyak/apps/backup-system/kopia/app/kustomization.yaml
  kubernetes/kyak/apps/backup-system/kopia/ks.yaml
  kubernetes/kyak/apps/backup-system/kustomization.yaml
  kubernetes/kyak/apps/backup-system/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change nfs server
  kubernetes/kyak/apps/backup-system/kopia/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak
