Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform, area/talos, area/pulumi

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
area/talos:
  - "talos/**/*"
area/pulumi:
  - "pulumi/**/*"

fix(ci): maybe renovate talos?
  .github/renovate.json5
Labels: area/github

fix(sol): change cluster path
  kubernetes/sol/flux/config/cluster.yaml
Labels: area/kubernetes

fix(sol): allow sol path
  kubernetes/sol/flux/config/cluster.yaml
Labels: area/kubernetes

fix(sol): change path
  kubernetes/sol/flux/config/cluster.yaml
  kubernetes/sol/flux/config/flux.yaml
Labels: area/kubernetes

fix(sol): remove helm repo
  kubernetes/sol/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(sol): oci is not used yet
  kubernetes/sol/flux/repositories/kustomization.yaml
  kubernetes/sol/flux/vars/cluster-secrets.sops.env
  kubernetes/sol/flux/vars/cluster-settings.env
Labels: area/kubernetes

fix(sol): add missing namespace
  kubernetes/sol/apps/default/namespace.yaml
Labels: area/kubernetes

fix(sol): add missing files
  kubernetes/sol/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
  kubernetes/sol/apps/kube-system/local-path-provisioner/app/kustomization.yaml
  kubernetes/sol/apps/kube-system/local-path-provisioner/ks.yaml
  kubernetes/sol/apps/kube-system/local-path-provisioner/kustomization.yaml
  kubernetes/sol/apps/networking/nginx/ks.yaml
  kubernetes/sol/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes

fix(sol): fixing more stuff
  kubernetes/sol/apps/default/kopia/app/externalsecret.yaml
  kubernetes/sol/apps/kepler-system/kepler/ks.yaml
  kubernetes/sol/apps/kube-system/metrics-server/ks.yaml
  kubernetes/sol/apps/kube-system/reloader/ks.yaml
Labels: area/kubernetes

fix(sol): more ks fixes
  kubernetes/sol/apps/istio-system/base/ks.yaml
  kubernetes/sol/apps/istio-system/gateway/ks.yaml
  kubernetes/sol/apps/istio-system/istiod/ks.yaml
  kubernetes/sol/apps/kube-guardian/kube-guardian/ks.yaml
  kubernetes/sol/apps/kube-system/external-secrets/ks.yaml
Labels: area/kubernetes

fix(sol): hopefully the last one
  kubernetes/sol/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

fix(sol): adding missing secretstore
  kubernetes/sol/apps/kube-system/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/sol/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/sol/apps/kube-system/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/sol/apps/kube-system/external-secrets/stores/onepassword/secret.sops.yaml
Labels: area/kubernetes

fix(sol): change paths
  kubernetes/sol/apps/default/minio/app/helmrelease.yaml
  kubernetes/sol/apps/kube-system/external-secrets/stores/kustomization.yaml
Labels: area/kubernetes

fix(sol): change cert name
  kubernetes/sol/apps/networking/nginx/certificates/certificates.yaml
Labels: area/kubernetes

fix(sol): allow cert creation for domain
  kubernetes/sol/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/sol/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/sol/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/sol/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/sol/apps/cert-manager/cert-manager/issuers/issuers.yaml
Labels: area/kubernetes

fix(sol): change cert domain
  kubernetes/sol/apps/istio-system/gateway/app/certificate.yaml
Labels: area/kubernetes

fix(sol): maybe kopia works
  kubernetes/sol/apps/default/kopia/app/config/repository.config
Labels: area/kubernetes

fix(cluster): change vector lb address
  kubernetes/apps/monitoring/vector/app/aggregator/helmrelease.yaml
Labels: area/kubernetes

feat: no more terraform
  terraform/storage/apps/.terraform.lock.hcl
  terraform/storage/apps/app_kopia.tf
  terraform/storage/apps/app_minio.tf
  terraform/storage/apps/app_node_exporter.tf
  terraform/storage/apps/app_smartctl_exporter.tf
  terraform/storage/apps/app_vector_agent.tf
  terraform/storage/apps/main.tf
  terraform/storage/apps/providers.tf
  terraform/storage/apps/secret.sops.yaml
  terraform/storage/apps/templates/repository.config.tftpl
  terraform/storage/apps/templates/vector.yaml.tftpl
  terraform/storage/apps/variables.tf
Labels: area/terraform

fix(cobra): update external-dns
  kubernetes/cobra/apps/networking/external-dns/app/bind/helmrelease.yaml
Labels: area/kubernetes

fix: migrate to .env
  kubernetes/cobra/apps/csi-addons-system/csi-addons-controller-manager/ks.yaml
  kubernetes/cobra/apps/csi-addons-system/kustomization.yaml
  kubernetes/cobra/apps/csi-addons-system/namespace.yaml
  kubernetes/cobra/apps/istio-system/istiod/app/helmrelease copy.yaml
  kubernetes/cobra/apps/istio-system/istiod/app/kustomization copy.yaml
  kubernetes/cobra/apps/kustomization.yaml
  kubernetes/cobra/apps/vault-system/vault/app/issuer.yaml
  kubernetes/cobra/apps/vault-system/vault/app/kustomization.yaml
  kubernetes/cobra/flux/vars/cluster-secrets.sops.env
  kubernetes/cobra/flux/vars/cluster-secrets.sops.yaml
  kubernetes/cobra/flux/vars/cluster-settings.env
  kubernetes/cobra/flux/vars/cluster-settings.yaml
  kubernetes/cobra/flux/vars/kustomization.yaml
  kubernetes/kyak/flux/vars/cluster-secrets.sops.env
  kubernetes/kyak/flux/vars/cluster-secrets.sops.yaml
  kubernetes/kyak/flux/vars/cluster-settings.env
  kubernetes/kyak/flux/vars/cluster-settings.yaml
  kubernetes/kyak/flux/vars/kustomization.yaml
Labels: area/kubernetes

fix(kyak): oops
  kubernetes/kyak/flux/config/cluster.yaml
  kubernetes/kyak/flux/config/flux.yaml
Labels: area/kubernetes

fix(kyak): more oops
  kubernetes/kyak/flux/apps.yaml
Labels: area/kubernetes

fix(cobra): enable cert-manager
  kubernetes/cobra/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/cobra/flux/apps.yaml
Labels: area/kubernetes

Delete unnecessary files and add new Ansible and Kubernetes Taskfiles
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/Ansible/Tasks.yml
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/UnlockJob.tmpl.yaml
  .taskfiles/VolSync/WipeJob.tmpl.yaml
  .taskfiles/VolSync/wait-for-job.sh
Labels: none

fix(sol): Add agent and server resources to kustomization.yaml
  kubernetes/sol/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
Labels: area/kubernetes

fix: Refactor Taskfile.yml structure
  Taskfile.yml
Labels: none

fix(cobra): change ks path
  kubernetes/cobra/apps/kube-system/external-secrets/ks.yaml
Labels: area/kubernetes

fix(cobra): add labels to ns
  kubernetes/cobra/apps/cert-manager/namespace.yaml
Labels: area/kubernetes

fix(cobra): update vault to new ks format
  kubernetes/cobra/apps/cert-manager/cert-manager/issuers/vault.yaml
  kubernetes/cobra/apps/vault-system/vault/app/certificates.yaml
  kubernetes/cobra/apps/vault-system/vault/app/externalsecret.yaml
  kubernetes/cobra/apps/vault-system/vault/app/helmrelease.yaml
  kubernetes/cobra/apps/vault-system/vault/app/issuer.yaml
  kubernetes/cobra/apps/vault-system/vault/app/kustomization.yaml
  kubernetes/cobra/apps/vault-system/vault/app/role.yaml
  kubernetes/cobra/apps/vault-system/vault/ks.yaml
Labels: area/kubernetes

fix(cobra): add secret value
  kubernetes/cobra/flux/vars/cluster-secrets.sops.env
Labels: area/kubernetes

fix(cobra): that should be named that
  kubernetes/cobra/apps/kube-system/external-secrets/ks.yaml
  kubernetes/cobra/out.yaml
Labels: area/kubernetes

fix(cobra): change vault path
  kubernetes/cobra/apps/vault-system/vault/ks.yaml
Labels: area/kubernetes

fix(cobra): change tls secret
  kubernetes/cobra/flux/vars/cluster-secrets.sops.env
Labels: area/kubernetes

fix: increase memory limits
  kubernetes/cobra/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/cobra.yaml
  kubernetes/sol/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: change owner ref
  kubernetes/cobra/apps/networking/external-dns/app/bind/helmrelease.yaml
  kubernetes/sol/apps/networking/external-dns/app/helmrelease.yaml
Labels: area/kubernetes

fix(sol): maybe certs now
  kubernetes/sol/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/sol/apps/cert-manager/cert-manager/issuers/issuers.yaml
Labels: area/kubernetes

fix(sol): nope
  kubernetes/sol/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix: change secret ref
  kubernetes/cobra/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/sol/apps/cert-manager/cert-manager/issuers/issuers.yaml
Labels: area/kubernetes

fix(ci): flux diff should work now
  .github/workflows/flux-diff.yaml
Labels: area/github
