Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/pulumi, area/docs, area/github, area/kubernetes, area/taskfile, area/terraform, cluster/kyak, cluster/sol, cluster/cobra

fix(pulumi): do not force refresh
  pulumi/sol/config/minio.ts
Labels: area/pulumi

feat(ci): add git guardian workflow
  .github/renovate/groups.json5
  .github/workflows/git-guardian.yaml
  .github/workflows/kubeconform.yaml
Labels: area/github

fix(sol): remove extra kustomization
  kubernetes/sol/apps/networking/external-dns/dnsendpoint-crd.yaml
  kubernetes/sol/apps/networking/external-dns/kustomization.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): remove isito injection from monitoring
  kubernetes/kyak/apps/monitoring/namespace.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): use native helm options
  kubernetes/kyak/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable unupdated apps
  kubernetes/kyak/apps/tools/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): more security
  kubernetes/kyak/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove big kustomization
  kubernetes/kyak/apps/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): kepler doesn't work on talos
  kubernetes/kyak/apps/kepler-system/kepler/app/helmrelease.yaml
  kubernetes/kyak/apps/kepler-system/kepler/app/kustomization.yaml
  kubernetes/kyak/apps/kepler-system/kepler/ks.yaml
  kubernetes/kyak/apps/kepler-system/kustomization.yaml
  kubernetes/kyak/apps/kepler-system/namespace.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove se-exporter
  kubernetes/kyak/apps/database/redis/ks.yaml
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/prometheusrules/prometheusrule.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/resources/alertmanager.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/federation.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/osiris.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/pikvm.yaml
  kubernetes/kyak/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/vyos.yaml
  kubernetes/kyak/apps/monitoring/se-exporter/app/dashboard/dashboard.json
  kubernetes/kyak/apps/monitoring/se-exporter/app/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/se-exporter/app/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/se-exporter/app/kustomization.yaml
  kubernetes/kyak/apps/monitoring/se-exporter/app/scrapeconfig.yaml
  kubernetes/kyak/apps/monitoring/se-exporter/ks.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): remove se-exporter from ks
  kubernetes/kyak/apps/monitoring/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/pulumi:
  - changed-files:
      - any-glob-to-any-file: pulumi/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/terraform:
  - changed-files:
      - any-glob-to-any-file: terraform/**/*
cluster/kyak:
  - changed-files:
      - any-glob-to-any-file: kubernetes/kyak/**/*
cluster/sol:
  - changed-files:
      - any-glob-to-any-file: kubernetes/sol/**/*
cluster/cobra:
  - changed-files:
      - any-glob-to-any-file: kubernetes/cobra/**/*
