Repository coolguy1771/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/docs, area/github, area/kubernetes, area/taskfile, area/pulumi, cluster/kyak, cluster/sol

.github/labeler.yaml:

---
# Area
area/ansible:
  - changed-files:
      - any-glob-to-any-file: ansible/**/*
area/docs:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
area/pulumi:
  - changed-files:
      - any-glob-to-any-file: pulumi/**/*
# Cluster
cluster/kyak:
  - changed-files:
      - any-glob-to-any-file: talos/kyak/**/*
      - any-glob-to-any-file: kubernetes/kyak/**/*
      - any-glob-to-any-file: pulimi/kyak/**/*
cluster/sol:
  - changed-files:
      - any-glob-to-any-file: ansible/sol/**/*
      - any-glob-to-any-file: kubernetes/sol/**/*
      - any-glob-to-any-file: pulumi/sol/**/*

fix(kyak): add networking netpols
  kubernetes/kyak/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/kyak/apps/networking/cloudflared/app/networkpolicy.yaml
  kubernetes/kyak/apps/networking/nginx/external/kustomization.yaml
  kubernetes/kyak/apps/networking/nginx/external/networkpolicy.yaml
  kubernetes/kyak/apps/networking/nginx/internal/kustomization.yaml
  kubernetes/kyak/apps/networking/nginx/internal/networkpolicy.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): allow cilium privileged
  kubernetes/kyak/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(talos): update talconfig
  talos/talconfig.yaml
  talos/talenv.sops.yaml
Labels: none

fix(kyak): update netpils
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-egress-internet.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-egress-lan.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-ingress-internet.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-ingress-lan.yaml
  kubernetes/kyak/apps/kube-system/cilium/netpols/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add missing netpol
  kubernetes/kyak/apps/kube-system/cilium/netpols/allow-egress-world.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): tag for api netpol
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/kyak/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/kyak/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add cloudflared netpol
  kubernetes/kyak/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change native cidr
  kubernetes/kyak/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change am namespace
  kubernetes/kyak/apps/tools/system-upgrade-controller/plans/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change am namespace
  kubernetes/kyak/apps/flux-system/addons/app/notifications/alert-manager/notification.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): disable net pol
  kubernetes/kyak/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/kyak/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/kyak/apps/networking/cloudflared/app/patches/kustomizeconfig.yaml
  kubernetes/kyak/apps/networking/cloudflared/app/resources/config.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update cloudflared netpol
  kubernetes/kyak/apps/networking/cloudflared/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update reloader
  kubernetes/kyak/apps/tools/reloader/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): allow encypted traffic
  kubernetes/kyak/apps/networking/cloudflared/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update password
  kubernetes/kyak/apps/rook-ceph/rook-ceph/app/rook-ceph-dashboard-password.secret.sops.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update netpol
  kubernetes/kyak/apps/networking/cloudflared/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add all CF IPv4 addresses
  kubernetes/kyak/apps/networking/cloudflared/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): make this a lot cleaner
  kubernetes/kyak/apps/networking/cloudflared/app/networkpolicy.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): enable flux managed netpol
  kubernetes/kyak/apps/networking/cloudflared/app/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add netpol annotation
  kubernetes/kyak/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(ci): update renovate
  .github/renovate.json5
  .github/renovate/autoMerge.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
Labels: area/github

fix(kyak): add crunchydata repo
  kubernetes/kyak/flux/repositories/helm/crunchydata.yaml
  kubernetes/kyak/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): tune ec
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): change repo type
  kubernetes/kyak/flux/repositories/helm/crunchydata.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): tune loki
  kubernetes/kyak/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): switch echo to new image
  kubernetes/kyak/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add grafana dashboard
  kubernetes/kyak/apps/database/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(sol): update cilium config
  kubernetes/sol/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): update bootstrap values
  talos/bootstrap/cni/values.yaml
Labels: none

fix(kyak): update storage
  kubernetes/kyak/apps/kube-system/fstrim/app/helmrelease.yaml
  kubernetes/kyak/apps/kube-system/fstrim/app/kustomization.yaml
  kubernetes/kyak/apps/kube-system/fstrim/ks.yaml
  kubernetes/kyak/apps/kube-system/kustomization.yaml
  kubernetes/kyak/apps/kube-system/notifications.yaml
  kubernetes/kyak/apps/openebs-system/kustomization.yaml
  kubernetes/kyak/apps/openebs-system/namespace.yaml
  kubernetes/kyak/apps/openebs-system/notifications.yaml
  kubernetes/kyak/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/kyak/apps/openebs-system/openebs/app/kustomization.yaml
  kubernetes/kyak/apps/openebs-system/openebs/ks.yaml
  kubernetes/kyak/apps/rook-ceph/notifications.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/kyak/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/kyak/flux/repositories/helm/kustomization.yaml
  kubernetes/kyak/flux/repositories/helm/openebs.yaml
  pulumi/icb/env/values.ts
  pulumi/icb/modules/bastion.ts
  pulumi/icb/modules/cloudfront.ts
  pulumi/icb/modules/dns.ts
  pulumi/icb/modules/files/index.html
  pulumi/icb/modules/files/oidc.json
  pulumi/icb/modules/iam.ts
  pulumi/icb/modules/kube-nodes.ts
  pulumi/icb/modules/s3-k8s-oidc.ts
  pulumi/icb/modules/security-groups.ts
  pulumi/icb/modules/vpc.ts
Labels: area/kubernetes, area/pulumi, cluster/kyak

fix(kyak): update grafana things
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): update vector
  kubernetes/kyak/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/vector/app/agent/kustomization.yaml
  kubernetes/kyak/apps/monitoring/vector/app/agent/patches/kustomizeconfig.yaml
  kubernetes/kyak/apps/monitoring/vector/app/agent/rbac.yaml
  kubernetes/kyak/apps/monitoring/vector/app/agent/resources/vector.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/externalsecret.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/helmrelease.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/kustomization.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/patches/kustomizeconfig.yaml
  kubernetes/kyak/apps/monitoring/vector/app/aggregator/resources/vector.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): downgrade grafana
  kubernetes/kyak/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/kyak

fix(sol): scale the operator
  kubernetes/sol/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): update cilium config
  kubernetes/sol/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/sol

fix(sol): update cilium config again
  kubernetes/sol/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/sol

fix(kyak): prune lpp
  ansible/sol/.envrc
  ansible/sol/inventory/group_vars/controllers/main.yaml
  ansible/sol/inventory/group_vars/kubernetes/main.yaml
  ansible/sol/inventory/hosts.yaml
  ansible/sol/playbooks/cluster-installation.yaml
  ansible/sol/playbooks/cluster-nuke.yaml
  ansible/sol/playbooks/tasks/cilium.yaml
  ansible/sol/playbooks/tasks/cruft.yaml
  ansible/sol/playbooks/tasks/upgrade.yaml
  ansible/sol/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/kyak/apps/storage/kustomization.yaml
  kubernetes/kyak/apps/storage/local-path-provisioner/app/helmrelease.yaml
  kubernetes/kyak/apps/storage/local-path-provisioner/app/kustomization.yaml
  kubernetes/kyak/apps/storage/local-path-provisioner/ks.yaml
  kubernetes/sol/bootstrap/flux/age-key.secret.sops.yaml
  kubernetes/sol/bootstrap/flux/github-deploy-key.secret.sops.yaml
  kubernetes/sol/bootstrap/flux/kustomization.yaml
  kubernetes/sol/flux/vars/cluster-secrets.secret.sops.yaml
  kubernetes/sol/flux/vars/cluster-secrets.sops.env
  kubernetes/sol/flux/vars/cluster-settings.env
  kubernetes/sol/flux/vars/cluster-settings.yaml
  kubernetes/sol/flux/vars/kustomization.yaml
Labels: area/ansible, area/kubernetes, cluster/kyak, cluster/sol

fix: update taskfiles
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/Bootstrap/Taskfile.yaml
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Rook/Taskfile.yaml
  .taskfiles/Rook/scripts/wait-for-job.sh
  .taskfiles/Rook/templates/WipeDataJob.tmpl.yaml
  .taskfiles/Rook/templates/WipeDiskJob.tmpl.yaml
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/Talos/scripts/upgrade.sh
  .taskfiles/VolSync/Taskfile.yaml
  .taskfiles/VolSync/scripts/wait-for-job.sh
  .taskfiles/VolSync/scripts/which-controller.sh
  .taskfiles/VolSync/templates/list.tmpl.yaml
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  .taskfiles/VolSync/templates/unlock.tmpl.yaml
  Taskfile.yml
Labels: area/taskfile

fix(kyak): update templates
  kubernetes/kyak/templates/volsync/minio.yaml
  kubernetes/kyak/templates/volsync/r2.yaml
Labels: area/kubernetes, cluster/kyak

fix(kyak): add authentik chart
  kubernetes/kyak/flux/repositories/helm/authentik.yaml
  kubernetes/kyak/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/kyak
